# Patterns

In [9]:
for i in range(1,6):
    for j in range(1,6):
        print('*', end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
for i in range(5):
    for j in range(5):
        print(i,end=" ")
        i+=1
    print(i)

0 1 2 3 4 5
1 2 3 4 5 6
2 3 4 5 6 7
3 4 5 6 7 8
4 5 6 7 8 9

In [13]:
for i in range(5):
    for j in range(5):
        print(j,end=" ")
    print(j)
    i += 1

0 1 2 3 4 4
0 1 2 3 4 4
0 1 2 3 4 4
0 1 2 3 4 4
0 1 2 3 4 4

In [14]:
for i in range(4):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3

In [15]:
for i in range(6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
for i in range(6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
chr(65)

'A'

In [29]:
chr(65+25)

'Z'

In [32]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end=" ")
        num +=1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [33]:
num = 65
for i in range(1,6):
    for j in range(i):
        print(chr(num),end=" ")
        num +=1
    print()

A
B C
D E F
G H I J
K L M N O

In [36]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end=" ")
    num +=1
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [37]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [43]:
num = 97
for i in range(5,0,-1):
    for j in range(i):
        print(chr(num).upper(),end=" ")
        num += 1
    print()

A B C D E
F G H I
J K L
M N
O

In [47]:
num = 97
for i in range(5,0,-1):
    for j in range(i):
        print(chr(num).upper(),end=" ")
        num += 1
    print()
num = 97
for i in range(6):
    for j in range(i):
        print(chr(num).upper(),end=" ")
        num += 1
    print()

A B C D E
F G H I
J K L
M N
O

A
B C
D E F
G H I J
K L M N O

In [49]:
num = 97
for i in range(6):
    for j in range(i):
        print(chr(num).upper(),end=" ")
        num += 1
    print()
num = 97
for i in range(5,0,-1):
    for j in range(i):
        print(chr(num).upper(),end=" ")
        num += 1
    print()

A
B C
D E F
G H I J
K L M N O
A B C D E
F G H I
J K L
M N
O

In [48]:
num = 65
for i in range(1,6):
    for j in range(i):
        print(chr(num),end=" ")
    num += 1
    print()
num = 97
for i in range(5,0,-1):
    for j in range(i):
        print(chr(num),end=" ")
        num += 1
    print()

A
B B
C C C
D D D D
E E E E E
a b c d e
f g h i
j k l
m n
o

In [50]:
for u in range(1,6):
    for j in range(1,u +1):
        print(j **2, end=" ")
    print()

1
1 4
1 4 9
1 4 9 16
1 4 9 16 25

In [1]:
n = 5

for i in range(1, n + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [15]:
n = 5
for i in range(1, n + 1):
    print("   " * (n - i) + "* " * i)

            *
         * *
      * * *
   * * * *
* * * * *

In [16]:
rows = 5
for i in range(1, rows + 1):
    print("  " * (rows - i) + "* " * i)

        *
      * *
    * * *
  * * * *
* * * * *

In [17]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
n = 5

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
row = 5
num = 1


for i in range(1, row + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [20]:
n = 65

for i in range(1, n+1):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13
14 14 14 14 14 14 14 14 14 14 14 14 14 14
15 15 15 15 15 15 15 15 15 15 15 15 15 15 15
16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17
18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18 18
19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19
20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21
22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22 22
23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 23
24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24 24
25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25 25
26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26
27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27
28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28 28
29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29 29
30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30
31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31 31
32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32
33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33 33
34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34 34
35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35 35
36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36
37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37 37
38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38
39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39 39
40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40 40
41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41 41
42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42 42
43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43 43
44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44
45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45 45
46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46 46
47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47 47
48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48 48
49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49 49
50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50
51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51 51
52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52 52
53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53 53
54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54 54
55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55 55
56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56 56
57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57 57
58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58 58
59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59 59
60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60 60
61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61 61
62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62 62
63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63 63
64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64 64
65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65 65

In [ ]:
rows = 5

for i in range(1, rows +1):
    ch = chr(64 + i)
    for j in range(i + 1):
        print(ch, end=" ")
    print()

A A
B B B
C C C C
D D D D D
E E E E E E

In [23]:
rows = 5
for i in range(rows):
    ch = chr(65 + i)
    for j in range( i + 1):
        print(ch, end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [28]:
rows = 5
for i in range(rows):
    for j in range( i + 1):
        ch = chr(65 + i)
        print(ch, end=" ")
        
    print()

A
B B
C C C
D D D D
E E E E E

In [31]:
rows = 5
n = 65
for i in range(1, rows +1):
    for j in range(i):
        print(chr(n), end=" ")
        n += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [33]:
rows = 5

for i in range(1, rows + 1):
    for j in range(i):
        print("K", end=" ")
        rows += 1
    print()

K
K K
K K K
K K K K
K K K K K

In [37]:
chr1 = "Vishnu"
for i in range(1, len(chr1) + 1):
    print(chr1[0:i])

V
Vi
Vis
Vish
Vishn
Vishnu

In [36]:
word = "Python"
for i in range(1, len(word) + 1):
    print(word[0:i])

P
Py
Pyt
Pyth
Pytho
Python

In [38]:
rows = 5
for i in range(1, rows +1):
    for j in range(rows - i + 1):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [39]:
rows = 6
for i in range(rows, 0, -1):
    for j in range(i):
        print(i, end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [41]:
rows = 6
for i in range(rows, 0, -1):
    print(i)

6
5
4
3
2
1

In [44]:
rows = 6
for i in range(rows):
    print(i)

0
1
2
3
4
5

In [49]:
rows = 5

for i in range(0,rows,-1):
    for i in range(i):
        print(i, end=" ")
        j += 1
    print()

In [54]:
rows = 4
for i in range(rows):
    for j in range(6 + i):
        print(j, end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [56]:
rows = 5  # Number of rows to print
for i in range(rows):
    for j in range(6 - i):  # Decreasing range of numbers for each row
        print(j, end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
rows = 3
n = 1
for i in range(rows):
    for j in range(2 * i + 1):
        print(n, end=" ")
        n += 1
    print()

1
2 3 4
5 6 7 8 9

In [71]:
rows = 3
n = 1
for i in range(rows,0,-1):
    for j in range(2 * i - 1):
        print(n, end=" ")
        n += 1
    print()

1 2 3 4 5
6 7 8
9

In [83]:
rows = 6
n = 1

for i in range(row,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows = 6
for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [87]:
n = 5
num = 1

for i in range(1,n + 1):
    for j in range(i):
        print(num,end = " ")
    print()
    num += 2

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [88]:
for i in range(0,6):
    for j in range(i):
        print(" 9", end=" ")
    print()

 9
 9  9
 9  9  9
 9  9  9  9
 9  9  9  9  9

In [95]:
for i in range(6, 0, -1):
    print(" " *(6 - i), end="")
    for j in range(i):
        print("9", end="")
    print()

999999
 99999
  9999
   999
    99
     9

In [113]:
for i in range(6, 0, -1):
    print(" " *(6 - i), end="")
    for j in range(i):
        print("9", end="")
    print()
for i in range(7):
    #print(" " *(6 + i), end="")
    for j in range(i):
        print("6", end="")
    print()

999999
 99999
  9999
   999
    99
     9

6
66
666
6666
66666
666666

In [138]:
for i in range(6, 0, -1):
    print(" " *(6 - i), end="")
    for j in range(i):
        print("9", end="")
    print("~"*20)

for i in range(6):
    print("!"*10)

for i in range(1, 6 + 1):
    
    print(" " * (6 - i), end="")
    
    print("0 " * i)


for i in range(1,7):
    # print(" " *(6 + i), end=" ")
    for j in range(i):
        print("6", end="")
    print("~"*20)

999999~~~~~~~~~~~~~~~~~~~~
 99999~~~~~~~~~~~~~~~~~~~~
  9999~~~~~~~~~~~~~~~~~~~~
   999~~~~~~~~~~~~~~~~~~~~
    99~~~~~~~~~~~~~~~~~~~~
     9~~~~~~~~~~~~~~~~~~~~
!!!!!!!!!!
!!!!!!!!!!
!!!!!!!!!!
!!!!!!!!!!
!!!!!!!!!!
!!!!!!!!!!
     0
    0 0
   0 0 0
  0 0 0 0
 0 0 0 0 0
0 0 0 0 0 0
6~~~~~~~~~~~~~~~~~~~~
66~~~~~~~~~~~~~~~~~~~~
666~~~~~~~~~~~~~~~~~~~~
6666~~~~~~~~~~~~~~~~~~~~
66666~~~~~~~~~~~~~~~~~~~~
666666~~~~~~~~~~~~~~~~~~~~