# Tuple()

## properties of tuple :



- immutable Data Type(we can not modify tuple Or unchangable)
- Order DataType
- Allow Duplicates
- Tuples are faster than lists
- We can add different types of element
- Tuples are defined by ()
- All element are comma seperated.

- Tuple defined by () round braces.

In [1]:
tup1 = ()
print(type(tup1))

<class 'tuple'>

In [2]:
tup1 = ()
type(tup1)

tuple

In [3]:
tu1 = (1,2,3,4,5,6,7,8)
print(tu1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [4]:
tu1[0]

1

In [6]:
tu1[0:6:2]

(1, 3, 5)

In [7]:
var = ([1,2,3,4],"python",{1:2})

In [8]:
type(var)

tuple

# indexing and slicing

In [9]:
tu1 = (1,1,2,2,2,3,4,5)
print(tu1)

(1, 1, 2, 2, 2, 3, 4, 5)

In [12]:
print(tu1[0])
print(tu1[1])
print(tu1[1])
print(tu1[2])
print(tu1[3])
print(tu1[4])
print(tu1[5])
print(tu1[3])
print(list(tu1[2]))

1
1
1
2
2
2
3
2

TypeError: 'int' object is not iterable

In [13]:
tu1

(1, 1, 2, 2, 2, 3, 4, 5)

In [14]:
tu1[-1]

5

In [16]:
tu1 = 5
type(tu1)

int

In [21]:
tu1[-4]

IndexError: list index out of range

In [22]:
tu1[-1]

-4

In [24]:
tu1[-1:-5:-1]

[-4]

In [25]:
tu1

[-4]

In [27]:
tu1 = (1, 1, 2, 2, 2, 3, 4, 5)
tu1

(1, 1, 2, 2, 2, 3, 4, 5)

In [28]:
tu1[-5:-2]

(2, 2, 3)

In [29]:
tu1[-1:-5:-1]

(5, 4, 3, 2)

In [30]:
tu1

(1, 1, 2, 2, 2, 3, 4, 5)

In [31]:
tu1[::2]

(1, 2, 2, 4)

In [36]:
tu1[1::1]

(1, 2, 2, 2, 3, 4, 5)

# delete items

In [38]:
tu1 = (1,2,2,2,3,4,5,5,1,2,3)
print(tu1)

(1, 2, 2, 2, 3, 4, 5, 5, 1, 2, 3)

In [39]:
del tu1[4]

TypeError: 'tuple' object doesn't support item deletion

In [40]:
del tu1

In [41]:
tu1

NameError: name 'tu1' is not defined

# tuple Operations:

In [42]:
student_names = "Abhi","pratik","Swati"
class_names = "7","8","9"
student_names

('Abhi', 'pratik', 'Swati')

In [43]:
class_names

('7', '8', '9')

In [45]:
student_names + class_names

('Abhi', 'pratik', 'Swati', '7', '8', '9')

In [46]:
"python" + "pyhton"

'pythonpyhton'

In [47]:
"python" +" "+"pyhton"

'python pyhton'

In [48]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [51]:
student_names = "Vishnu","Pratik","Swati"
class_names = "7","8","9"
combine_tuple = student_names + class_names
print(student_names,type(student_names))
print(class_names,type(class_names))
print(combine_tuple,type(combine_tuple))

('Vishnu', 'Pratik', 'Swati') <class 'tuple'>
('7', '8', '9') <class 'tuple'>
('Vishnu', 'Pratik', 'Swati', '7', '8', '9') <class 'tuple'>

In [52]:
student_names = ("Abhi","Pratik","Swati")

for ind,val in enumerate(student_names):
    print(ind,val)

0 Abhi
1 Pratik
2 Swati

In [53]:
student_names = ("Abhi","Pratik","Swati")

ind = 0
while ind < len(student_names):
    print(student_names[ind])
    ind += 1

Abhi
Pratik
Swati

In [62]:
student_names = ("Abhi","Pratik","ameya","vishnu")
"vishnu" in student_names

True

In [63]:
student_names = ("Abhi","Pratik","Swati")
"Abhishek" in student_names

False

In [64]:
student_names = ("Abhi","Pratik","Swati")
"Abhi" not in student_names

False

# index

In [68]:
tup1 = (1,1,1,1,2,3,4,5)
tup1.index(1)

0

In [70]:
tup1 = (1,1,1,1,2,3,4,5)
tup1.index(1)

0

In [ ]:
tup1.index(1,1,1)

1

In [75]:
tu1 = (1,1,1,1,2,3,4,5)
tu1.index(2,1,5)

4

In [77]:
tu1[1:5] #→ (1, 1, 1, 2)

(1, 1, 1, 2)

In [78]:
tu1 = (1,1,1,1,2,3,4,5)
tu1.index(100)

ValueError: tuple.index(x): x not in tuple

In [79]:
num = (1,2,3,4,5)
print(type(num))
num = [1,2,3,4,5]
print(type(num))
print(type(tuple(num)))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

# indexing and slicing

In [1]:
tu1 = (1,1,1,1,2,3,4,5)
print(tu1)

(1, 1, 1, 1, 2, 3, 4, 5)

In [2]:
print(tu1[0])

1

In [3]:
print(tu1[1])

1

In [4]:
print(tu1[2])

1

In [5]:
print(tu1[3])
print(tu1[4])
print(tu1[5])
print(tu1[6])
print(tu1[7])

1
2
3
4
5

In [6]:
print(tu1[8])
print(tu1[9])

IndexError: tuple index out of range

In [7]:
tu1

(1, 1, 1, 1, 2, 3, 4, 5)

In [8]:
tu1[-1]

5

In [9]:
tu1[-10]

IndexError: tuple index out of range

In [12]:
tu1 = (5,)  #defining single digit tuple

In [11]:
type(tu1)

tuple

In [13]:
tu1 = (1,1,1,1,2,3,4,5)
print(tu1)

(1, 1, 1, 1, 2, 3, 4, 5)

In [14]:
tu1[0:5]

(1, 1, 1, 1, 2)

In [15]:
tu1[5:]

(3, 4, 5)

In [16]:
tu1[-5:-1]

(1, 2, 3, 4)

In [17]:
tu1[-5:-1:-1]

()

In [18]:
tu1[-1:-5:-1]

(5, 4, 3, 2)

In [19]:
tu1

(1, 1, 1, 1, 2, 3, 4, 5)

In [20]:
tu1[::2]

(1, 1, 2, 4)

In [21]:
tu1[1::2]

(1, 1, 3, 5)

In [22]:
tu1[::-1]

(5, 4, 3, 2, 1, 1, 1, 1)

# Delete Items

In [24]:
tu1 = (1,1,1,1,1,2,2,32,3,4)

In [25]:
del tu1[1]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
del tu1

In [27]:
tu1

NameError: name 'tu1' is not defined

# Tuple Operations

In [28]:
student_names = "Abhi", "Pratik","Vishnu"
class_names = "7","8","9"
combine_tuple = student_names + class_names
print(student_names,type(student_names))
print(class_names,type(class_names))
print(combine_tuple,type(combine_tuple))

('Abhi', 'Pratik', 'Vishnu') <class 'tuple'>
('7', '8', '9') <class 'tuple'>
('Abhi', 'Pratik', 'Vishnu', '7', '8', '9') <class 'tuple'>

In [29]:
student_names

('Abhi', 'Pratik', 'Vishnu')

In [30]:
print(student_names * 5)

('Abhi', 'Pratik', 'Vishnu', 'Abhi', 'Pratik', 'Vishnu', 'Abhi', 'Pratik', 'Vishnu', 'Abhi', 'Pratik', 'Vishnu', 'Abhi', 'Pratik', 'Vishnu')

## Access elements using for loop and while loop

In [31]:
student_names = ('Abhi', 'Pratik', 'Vishnu')

In [32]:
for name in student_names:
    print(name)

Abhi
Pratik
Vishnu

In [33]:
student_names = ('Abhi', 'Pratik', 'Vishnu')

for ind,val in enumerate(student_names):
    print(ind,val)

0 Abhi
1 Pratik
2 Vishnu

In [1]:
student_names = ('Abhi', 'Pratik', 'Vishnu')

ind = 0
while ind < len(student_names):
    print(student_names[ind])
    ind += 1

Abhi
Pratik
Vishnu

# Membership Operators

In [3]:
student_names = ("Soham","Pratik","Ute")
"Abhi" in student_names

False

In [4]:
student_names = ("Soham","Pratik","Ute")
"Ute" in student_names

True

In [5]:
student_names = ("Soham","Pratik","Ute")
"Ute" not in student_names

False

In [6]:
"Vishnu" not in student_names

True

In [7]:
student_names = ("Abhi","Pratik","Swati")
if "Abhi" in student_names:
    print("Student name is present")
else:
    print("Student name is absent")

Student name is present

In [8]:
student_names = ("Abhi","Pratik","Swati")
if "Abhishek" in student_names:
    print("Student name is present")
else:
    print("Student name is absent")

Student name is absent

### Tuple Function

- count
- index

### Count

In [11]:
tu1 = (1,1,1,2,3,3,5,4,6)

In [12]:
tu1.count(1)

3

In [13]:
tu1.count(3)

2

In [14]:
tu1 = (1,1,1,1,2,3,4,5)
tu1.count(1000)

0

# index

In [ ]:
tu1 = (1,1,2,3,3,4,5,6)
tu1.index(1)

0

In [20]:
tu1 = (1,1,2,3,2,3,4,5,6)
tu1.index(2)

2

## Tuple Constructor

In [21]:
num = (1,2,3,4,5,6)
print(type(num))

<class 'tuple'>

In [23]:
num = [1,2,3,4,5,6]
print(type(num))

<class 'list'>

In [24]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [25]:

tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [27]:
tuple(list(["python"]))

('python',)

In [32]:
student_names = ("ameya","abhi","soham")
student_names[0].upper()
student_names

('ameya', 'abhi', 'soham')

In [33]:
student_names = ("ameya","vishnu","pratik","kedar")
print(student_names)
student_names_list = list(student_names)
student_names_list[0] = "abhi"
print("List :-",student_names_list)
print("tuple :-", tuple(student_names_list))

('ameya', 'vishnu', 'pratik', 'kedar')
List :- ['abhi', 'vishnu', 'pratik', 'kedar']
tuple :- ('abhi', 'vishnu', 'pratik', 'kedar')

In [34]:
tup1 = (1,2,3)
tu1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [35]:
tup2 = list(tup1)
tup2[0] = 100
tuple(tup2)

(100, 2, 3)

In [36]:
tup1.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
tu1 = (1,2,3,4)
tu2 = list(tup1)
tu2.append(55)

In [38]:
tu2

[1, 2, 3, 55]

In [39]:
tuple(tu2)

(1, 2, 3, 55)

In [40]:
next(tu1)

TypeError: 'tuple' object is not an iterator

In [43]:
a =iter(tu1)

In [44]:
next(a)

1

In [45]:
next(a)

2

In [48]:
next(a)

StopIteration:

# copy

In [52]:
tu1 = (11,12,32,43,54)
tu2 = tu1

In [53]:
tu2

(11, 12, 32, 43, 54)

In [55]:
print(tu1,type(tu1))
print(tu2)

(11, 12, 32, 43, 54) <class 'tuple'>
(11, 12, 32, 43, 54)

In [56]:
print()

In [57]:
print

In [60]:
help("for")

The "for" statement
*******************

The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object:

   for_stmt ::= "for" target_list "in" starred_list ":" suite
                ["else" ":" suite]

The "starred_list" expression is evaluated once; it should yield an
*iterable* object.  An *iterator* is created for that iterable. The
first item provided by the iterator is then assigned to the target
list using the standard rules for assignments (see Assignment
statements), and the suite is executed.  This repeats for each item
provided by the iterator.  When the iterator is exhausted, the suite
in the "else" clause, if present, is executed, and the loop
terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clause’s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and continues
with the next item, or with the "else" clause if there is no next
item.

The for-loop makes assignments to the variables in the target list.
This overwrites all previous assignments to those variables including
those made in the suite of the for-loop:

   for i in range(10):
       print(i)
       i = 5             # this will not affect the for-loop
                         # because i will be overwritten with the next
                         # index in the range

Names in the target list are not deleted when the loop is finished,
but if the sequence is empty, they will not have been assigned to at
all by the loop.  Hint: the built-in type "range()" represents
immutable arithmetic sequences of integers. For instance, iterating
"range(3)" successively yields 0, 1, and then 2.

Changed in version 3.11: Starred elements are now allowed in the
expression list.

Related help topics: break, continue, while

In [2]:
a = (1,0,7,6,0,0,8,2)

print("occurance of 0 in above tuple is : ",a.count(0))

occurance of 0 in above tuple is :  3

In [7]:
#remove empty tuples: create a function that accepts a list of tuples and remove empty tuples.

def remove_empty_tuples(tuple_list):
    
    result = []

    for tuple_ in tuple_list:
        if len(tuple_) != 0:
            result.append(tuple_)
    
    return result

test_list = [(), ('a','b'), (1.0,2.0), ([1,2,"list"], [0,"tuple"])]

remove_empty_tuples(test_list)

[('a', 'b'), (1.0, 2.0), ([1, 2, 'list'], [0, 'tuple'])]

In [10]:
tuple_list =[
    ("apple", 2.3),
    ("banana",4.6),
    ("cherry",1.5)
]

#sorted([5,7,1,2,19], reverse= True)
sorted(['apple','cherry','banana'], reverse = True)

['cherry', 'banana', 'apple']

In [11]:
sorted(tuple_list)

[('apple', 2.3), ('banana', 4.6), ('cherry', 1.5)]

In [12]:
sorted?

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [21]:
def key_for_sorting(tuple_):
    return tuple_

def sort_tuples_according_to_price(tuple_list):
    return sorted(tuple_list, key= key_for_sorting,reverse = True)

sort_tuples_according_to_price(tuple_list)

[('cherry', 1.5), ('banana', 4.6), ('apple', 2.3)]

In [12]:
 # group analysis: given lists of students, graddes and groups, write  function to calculate the sum, mean and median of grades per group.

students = ["Vishnu","Ameya","Prasad","Kush","Arpit","Palash"]
grades = [85,96,78,98,82,72]
groups= ["A","B","A","A","B","A"]

group_a = []
group_b = []

def grades_group(list_of_grades, list_of_groups):


    for i in range(len(groups)):
        if list_of_groups[i]== "A":
            group_a.append(list_of_grades[i])
        else:
            group_b.append(list_of_grades[i])
        
    return group_a, group_b

grades_group(grades, groups)

print(f"The grade for group A students are as follows: {group_a}")

print(f"The grade for group B students are as follows: {group_b}")

The grade for group A students are as follows: [85, 78, 98, 72]
The grade for group B students are as follows: [96, 82]

In [31]:
# check if a specified element appears in a tuple of tuple 

original_list = (('red','white', 'blue'), ('green', 'pink', 'purple'), ('orange,', 'yellow', 'lime'))

In [46]:
output = input("enter your word: ")
for i in original_list:
    if output in i:
        print(f"{output} is present in inner tuple")
        break
    else:
        print(f"{output} is not present in inner tuple")
        break

olive is not present in inner tuple

olive is not present in inner tuple