# SETS

In [4]:
li1 = [1,2,3,4,5,6,7,8,9,0,"set","xyz",2.3]

s1 = set(li1)
s2 = tuple(li1)
print(s1)
print(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'set', 2.3, 'xyz'}
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'set', 'xyz', 2.3)

In [6]:
set1 = {1,1,0.0,0,2,3,4,5,6}
print(set1)

{0.0, 1, 2, 3, 4, 5, 6}

In [7]:
set2 ={20,20,17,14,16,15,12,13,12,11,11,00}
print(set2)

{0, 11, 12, 13, 14, 15, 16, 17, 20}

In [2]:
set3 = {1,2,4,5,3,3,67,6,7,8,True,False,True}
print(set3)

{False, 1, 2, 3, 4, 5, 67, 6, 7, 8}

In [10]:
set1 = {True,False}
print(set1)

{False, True}

In [3]:
set3[1]

TypeError: 'set' object is not subscriptable

# set Constructor

In [12]:
li1 = [1,2,3,3,4,5,4,5,"abc","xyz",2.5,6.6]
print(li1,len(li1))

set1 = set(li1)
print(set1,len(set1))

[1, 2, 3, 3, 4, 5, 4, 5, 'abc', 'xyz', 2.5, 6.6] 12
{1, 2, 3, 4, 5, 'abc', 2.5, 6.6, 'xyz'} 9

In [13]:
li1 = [1,2,3,3,4,5,4,5,"abc","xyz",2.5,6.6]
print(li1,len(li1))

set1 = set(li1)
print(set1,len(set1))

li2 = list(set1)
print(li2,len(li2))

[1, 2, 3, 3, 4, 5, 4, 5, 'abc', 'xyz', 2.5, 6.6] 12
{1, 2, 3, 4, 5, 'abc', 2.5, 6.6, 'xyz'} 9
[1, 2, 3, 4, 5, 'abc', 2.5, 6.6, 'xyz'] 9

In [14]:
set([1,2,3,2,3,4])

{1, 2, 3, 4}

In [15]:
set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [17]:
list("PythonFin")

['P', 'y', 't', 'h', 'o', 'n', 'F', 'i', 'n']

In [18]:
my_set = {
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
    20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
    30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
    40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
    50, 51, 52, 53, 54, 55, 56, 57, 58, 59,
    60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
    70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
    80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
    90, 91, 92, 93, 94, 95, 96, 97, 98, 99,
    100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
    110, 111, 112, 113, 114, 115, 116, 117, 118, 119,
    120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
    130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
    140, 141, 142, 143, 144, 145, 146, 147, 148, 149,
    150, 151, 152, 153, 154, 155, 156, 157, 158, 159,
    160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
    170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
    180, 181, 182, 183, 184, 185, 186, 187, 188, 189,
    190, 191, 192, 193, 194, 195, 196, 197, 198, 199,
    200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
    210, 211, 212, 213, 214, 215, 216, 217, 218, 219,
    220, 221, 222, 223, 224, 225, 226, 227, 228, 229,
    230, 231, 232, 233, 234, 235, 236, 237, 238, 239,
    240, 241, 242, 243, 244, 245, 246, 247, 248, 249,
    250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
    260, 261, 262, 263, 264, 265, 266, 267, 268, 269,
    270, 271, 272, 273, 274, 275, 276, 277, 278, 279,
    280, 281, 282, 283, 284, 285, 286, 287, 288, 289,
    290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
    300, 301, 302, 303, 304, 305, 306, 307, 308, 309,
    310, 311, 312, 313, 314, 315, 316, 317, 318, 319,
    320, 321, 322, 323, 324, 325, 326, 327, 328, 329,
    330, 331, 332, 333, 334, 335, 336, 337, 338, 339,
    340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
    350, 351, 352, 353, 354, 355, 356, 357, 358, 359,
    360, 361, 362, 363, 364, 365, 366, 367, 368, 369,
    370, 371, 372, 373, 374, 375, 376, 377, 378, 379,
    380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
    390, 391, 392, 393, 394, 395, 396, 397, 398, 399,
    400, 401, 402, 403, 404, 405, 406, 407, 408, 409,
    410, 411, 412, 413, 414, 415, 416, 417, 418, 419,
    420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
    430, 431, 432, 433, 434, 435, 436, 437, 438, 439,
    440, 441, 442, 443, 444, 445, 446, 447, 448, 449,
    450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
    460, 461, 462, 463, 464, 465, 466, 467, 468, 469,
    470, 471, 472, 473, 474, 475, 476, 477, 478, 479,
    480, 481, 482, 483, 484, 485, 486, 487, 488, 489,
    490, 491, 492, 493, 494, 495, 496, 497, 498, 499,
    500, 501, 502, 503, 504, 505, 506, 507, 508, 509,
    510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
    520, 521, 522, 523, 524, 525, 526, 527, 528, 529,
    530, 531, 532, 533, 534, 535, 536, 537, 538, 539,
    540, 541, 542, 543, 544, 545, 546, 547, 548, 549,
    550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
    560, 561, 562, 563, 564, 565, 566, 567, 568, 569,
    570, 571, 572, 573, 574, 575, 576, 577, 578, 579,
    580, 581, 582, 583, 584, 585, 586, 587, 588, 589,
    590, 591, 592, 593, 594, 595, 596, 597, 598, 599,
    600, 601, 602, 603, 604, 605, 606, 607, 608, 609,
    610, 611, 612, 613, 614, 615, 616, 617, 618, 619,
    620, 621, 622, 623, 624, 625, 626, 627, 628, 629,
    630, 631, 632, 633, 634, 635, 636, 637, 638, 639,
    640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
    650, 651, 652, 653, 654, 655, 656, 657, 658, 659,
    660, 661, 662, 663, 664, 665, 666, 667, 668, 669,
    670, 671, 672, 673, 674, 675, 676, 677, 678, 679,
    680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
    690, 691, 692, 693, 694, 695, 696, 697, 698, 699,
    700, 701, 702, 703, 704, 705, 706, 707, 708, 709,
    710, 711, 712, 713, 714, 715, 716, 717, 718, 719,
    720, 721, 722, 723, 724, 725, 726, 727, 728, 729,
    730, 731, 732, 733, 734, 735, 736, 737, 738, 739,
    740, 741, 742, 743, 744, 745, 746, 747, 748, 749,
    750, 751, 752, 753, 754, 755, 756, 757, 758, 759,
    760, 761, 762, 763, 764, 765, 766, 767, 768, 769,
    770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
    780, 781, 782, 783, 784, 785, 786, 787, 788, 789,
    790, 791, 792, 793, 794, 795, 796, 797, 798, 799,
    800, 801, 802, 803, 804, 805, 806, 807, 808, 809,
    810, 811, 812, 813, 814, 815, 816, 817, 818, 819,
    820, 821, 822, 823, 824, 825, 826, 827, 828, 829,
    830, 831, 832, 833, 834, 835, 836, 837, 838, 839,
    840, 841, 842, 843, 844, 845, 846, 847, 848, 849,
    850, 851, 852, 853, 854, 855, 856, 857, 858, 859,
    860, 861, 862, 863, 864, 865, 866, 867, 868, 869,
    870, 871, 872, 873, 874, 875, 876, 877, 878, 879,
    880, 881, 882, 883, 884, 885, 886, 887, 888, 889,
    890, 891, 892, 893, 894, 895, 896, 897, 898, 899,
    900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
    910, 911, 912, 913, 914, 915, 916, 917, 918, 919,
    920, 921, 922, 923, 924, 925, 926, 927, 928, 929,
    930, 931, 932, 933, 934, 935, 936, 937, 938, 939,
    940, 941, 942, 943, 944, 945, 946, 947, 948, 949,
    950, 951, 952, 953, 954, 955, 956, 957, 958, 959,
    960, 961, 962, 963, 964, 965, 966, 967, 968, 969,
    970, 971, 972, 973, 974, 975, 976, 977, 978, 979,
    980, 981, 982, 983, 984, 985, 986, 987, 988, 989,
    990, 991, 992, 993, 994, 995, 996, 997, 998, 999,
    1000
}

print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000}

In [23]:
ordered_set = dict()
ordered_set[10] = None
ordered_set[5] = None
ordered_set[20] = None

print(set(ordered_set))

{10, 20, 5}

In [25]:
set1 = {10,20,5}
print(set1)

{10, 20, 5}

In [26]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [28]:
tuple(tuple("Python"))

('P', 'y', 't', 'h', 'o', 'n')

In [30]:
sub_names = {'phy','chem','math','eng','bio'}
sub_names

{'bio', 'chem', 'eng', 'math', 'phy'}

In [31]:
sub_names = {'phy','chem','math','eng','bio',1,2,4,5}
sub_names

{1, 2, 4, 5, 'bio', 'chem', 'eng', 'math', 'phy'}

In [29]:
sub_names = {'phy','chem','math','eng','bio',40,23,11,[1,2,3,4]}
sub_names

TypeError: unhashable type: 'list'

In [33]:
set(1,2,3,[4,5,6])

TypeError: set expected at most 1 argument, got 4

In [37]:
type(set[1,2,3,[4,5,6]])

types.GenericAlias

In [38]:
set([1,2,3,[4]])

TypeError: unhashable type: 'list'

In [40]:
set((1,2,3,4))

{1, 2, 3, 4}

In [41]:
set(1,2,3,4)

TypeError: set expected at most 1 argument, got 4

In [42]:
set1[0]

TypeError: 'set' object is not subscriptable

# How to access items from set

In [43]:
sub_names = ['phy','chem','math','eng','bio',40,23,11]
sub_names

['phy', 'chem', 'math', 'eng', 'bio', 40, 23, 11]

In [44]:
sub_names[0]

'phy'

In [45]:
sub_names = {'phy','chem','math','eng','bio',40,23,11}
sub_names

{11, 23, 40, 'bio', 'chem', 'eng', 'math', 'phy'}

In [46]:
sub_names[0]

TypeError: 'set' object is not subscriptable

In [49]:
for i in sub_names:
    print(i)

40
eng
bio
11
phy
23
math
chem

In [50]:
len(sub_names)

8

In [51]:
range(len(sub_names))

range(0, 8)

In [52]:
for i in range(len(sub_names)):
    print(sub_names[i])

TypeError: 'set' object is not subscriptable

In [53]:
sub_names = ['phy','chem','math','eng','bio',40,23,11]
sub_names

['phy', 'chem', 'math', 'eng', 'bio', 40, 23, 11]

In [54]:
i = 0
while i < len(sub_names):
    print(sub_names[i])
    i += 1

phy
chem
math
eng
bio
40
23
11

| Code                 | What it does                                             |
| -------------------- | -------------------------------------------------------- |
| `i = 0`              | Declares a variable `i` (an identifier) and sets it to 0 |
| `while i < len(...)` | Uses the same `i` to control the loop                    |
| `i += 1`             | Updates the same `i` variable                            |

In [ ]:
li = {1,2,3,4,5}
i = 0

while i < len(li):
    print([i])
    i += 1

TypeError: 'set' object is not subscriptable

In [58]:
i = 0

while i < len(sub_names):
    print(sub_names[i],i)
    i += 1

phy 0
chem 1
math 2
eng 3
bio 4
40 5
23 6
11 7

In [57]:
for i,j in enumerate(sub_names):
    print(i,j)

0 phy
1 chem
2 math
3 eng
4 bio
5 40
6 23
7 11

In [59]:
sub_names = {'phy','chem','math','eng','bio',40,23,11}
for i in sub_names:
    print(i)

40
eng
bio
11
phy
23
math
chem

# delete

- remove()
- discard()
- pop()
- clear()

# 1. remove()

In [62]:
sett1 = {1,2,3,"vishnu","r",4,5}

print(f"original set :{sett1}")

sett1.remove(5)

print(f"after MOdification of set: {sett1}")

original set :{1, 2, 3, 4, 5, 'r', 'vishnu'}
after MOdification of set: {1, 2, 3, 4, 'r', 'vishnu'}

In [63]:
sett1.pop()

1

In [64]:
print(sett1)

{2, 3, 4, 'r', 'vishnu'}

In [65]:
sett1.clear()

In [66]:
sett1

set()

In [68]:
sett1.add(1)

In [70]:
type(sett1)

set

In [76]:
type((1,))

tuple

In [74]:
s2 = {1}
type(s2)

set

In [87]:
set1 = {1,2,3,"java","python","acting"}

print(f"set before modificcation: {set1}")

val = "java"

if val in set1:
    set1.remove(val)
    print(f"set after modificcation: {set1}")
else:
    set1.add(val)
    print(f"set after adding new element modificcation: {set1}")

set before modificcation: {1, 2, 3, 'python', 'java', 'acting'}
set after modificcation: {1, 2, 3, 'python', 'acting'}

# set Properties

- Unordered
- Mutable
- Duplicates are not allowed
- Defined by {}, if empty set()

# 1. add()

syntax = set1.add()

In [88]:
set1 = {1,2,3,4,5}
print(f"Original Set :- {set1}")
set1.add(6)
print(f"Modified Set :- {set1}")

Original Set :- {1, 2, 3, 4, 5}
Modified Set :- {1, 2, 3, 4, 5, 6}

In [90]:
li = []
li.append(100)
li

[100]

# 2. update()

Union function will return a new set.

In [91]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
print(set1.union(set2))
print(f"set1 :- {set1}")
print(f"set2 :- {set2}")

{1, 2, 3, 4, 5, 6, 7}
set1 :- {1, 2, 3, 4, 5}
set2 :- {3, 4, 5, 6, 7}

In [92]:
set1 = {"Python","And","Data","Science"}
set2 = {"Java","And","Data","Science"}
print(set1.union(set2))
print(f"set1 :- {set1}")
print(f"set2 :- {set2}")

{'Data', 'Science', 'Python', 'Java', 'And'}
set1 :- {'Science', 'And', 'Data', 'Python'}
set2 :- {'Java', 'Science', 'Data', 'And'}

In [4]:
s1 = {1,"vishnu",2,4,"5"}
s2 = {1,2,3,4,5}
print(s1.difference(s2))

{'vishnu', '5'}

In [6]:
s3 = s1 - s2
s3

{'5', 'vishnu'}

In [12]:
s1.difference_update(s2)

print(s1)

{'5', 'vishnu'}

In [16]:
s1.discard('5')

In [17]:
s1

{'vishnu'}

In [19]:
s1 = {1,2,3,7,4,5}
s2 = {4,3,5,6,2,1}
s1.intersection(s2)

{1, 2, 3, 4, 5}

In [26]:
s1 = {1,2,3,7,4,5,"vishnu"}
s2 = {4,3,5,6,2,1}
s1.intersection_update(s2)

In [27]:
s2

{1, 2, 3, 4, 5, 6}

In [28]:
s1

{1, 2, 3, 4, 5}

In [29]:
s1.isdisjoint(s2)

False

In [30]:
s2.isdisjoint(s1)

False

In [31]:
s2.issubset(s1)

False

In [32]:
s1.issubset(s2)

True

In [33]:
s1.issuperset(s2)

False

In [34]:
s2.issuperset(s1)

True

In [35]:
s2 < s1

False

In [ ]:
print(s1 < s2)

True

In [39]:
s1 = {1,2,3,4,5,6,"hisng","true"}

In [40]:
s1.pop()

1

In [41]:
s1

{2, 3, 4, 5, 6, 'hisng', 'true'}

In [44]:
s1.pop()

2

In [45]:
s1.remove("hisng")

In [46]:
s1

{3, 4, 5, 6, 'true'}

In [47]:
s1 ^ s2

{1, 2, 'true'}

In [48]:
s2

{1, 2, 3, 4, 5, 6}

In [55]:
s1.symmetric_difference_update(s2)

In [56]:
s2

{1, 2, 3, 4, 5, 6}

In [57]:
s2.symmetric_difference_update(s1)

In [58]:
s2

{3, 4, 5, 6, 'true'}

In [59]:
s1

{1, 2, 'true'}

In [3]:
 #Tags in Social Media

hashtags = ["#Ai", "#datascience","#coding","#Ai","#python","#python"]

Unique_tags = set(hashtags)

print(Unique_tags," -Duplicates are removed. ")

{'#coding', '#python', '#datascience', '#Ai'}  -Duplicates are removed.

In [6]:
#2. Inventory Check â€“ Missing or Extra Items.

regular_items = {"mouse","keyboard","monitor","charger"}

acutal_items = {"mouse","monitor","keyboard","cpu"}

missing = regular_items - acutal_items # what is missing.

extra_items = acutal_items - regular_items # what is extra.

print(f"This items are missing :{missing}.")
print(f"This items are extra :{extra_items}.")

This items are missing :{'charger'}.
This items are extra :{'cpu'}.

In [7]:

original = {1, 2, 3}
copy_set = original.copy()

In [8]:
copy_set

{1, 2, 3}

In [9]:
# Create an original set
original_set = {1, 2, 3, 'a', 'b'}

# Create a shallow copy using copy()
copied_set = original_set.copy()


print(f"Original set: {original_set}")
print(f"Copied set: {copied_set}")

# Modify the copied set
copied_set.add(4)

# Show that modifying the copied set does not affect the original set
print(f"Original set after modification: {original_set}")
print(f"Copied set after modification: {copied_set}")

Original set: {1, 2, 3, 'a', 'b'}
Copied set: {1, 2, 3, 'a', 'b'}
Original set after modification: {1, 2, 3, 'a', 'b'}
Copied set after modification: {1, 2, 3, 4, 'a', 'b'}

In [10]:
s1 = {1,2,3,4}
s2 = s1

In [12]:
s2.add(5)

In [13]:
s1

{1, 2, 3, 4, 5}

In [17]:
emails = ["a@gmail.com", "b@gmail.com", "a@gmail.com"]
print(len(emails) != len(set(emails)))

True

In [20]:
len(emails)

3

In [19]:
len(set(emails))

2

In [ ]:
ip_addresses = ["192.168.0.1", "192.168.0.2", "192.168.0.1"]
unique_ips = set(ip_addresses)
print(f"Unique visitors: {len(unique_ips)}")

Unique visitors: 2

In [22]:
user1 = {"phone", "laptop", "shoes"}
user2 = {"shoes", "camera"}

common_products = user1 & user2
print(common_products)  # {'shoes'}

{'shoes'}

In [23]:
text1 = set("the cat sat on the mat".split())
text2 = set("the cat lay on the rug".split())

similarity = text1 & text2
print(similarity)  # {'on', 'the', 'cat'}

{'the', 'cat', 'on'}

In [24]:
expected = {"mouse", "keyboard", "monitor"}
actual = {"monitor", "mouse"}

missing = expected - actual
print(f"Missing items: {missing}")  # {'keyboard'}

Missing items: {'keyboard'}

In [25]:
s = set()
s.add([1,2])

TypeError: unhashable type: 'list'

In [26]:
# 1. Remove Duplicates from a List.

def remove_duplicates(nums):
    return list(set(nums))

nums = [1,2,3,4,4,4,5,5,6,7,7,6,8,9,9,9,0]

f = remove_duplicates(nums)

print(f)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# 2. Check for Duplicates.

def contains_duplicate(nums):
    return len(nums) != len(set(nums))


nums = [1,2,3,4,4,4,5,5,6,7,7,6,8,9,9,9,0]

result = contains_duplicate(nums)

print(result, set(nums))

True {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
# 3. Unique Elements in a String.

def is_unique(name_str):
    return len(name_str) == len(set(name_str))

name_str = "Vishnu"

res = is_unique(name_str)

print(res)

True

In [41]:
# 4. Union and Intersection of Two Lists.

def union_and_intersection(a, b):
    set_a = set(a)
    set_b = set(b)

    return list(set_a | set_b), list(set_a & set_b)


a = [1,2,3,4]
b = [3,4,5,6]

res = union_and_intersection(a, b)
print(res)

([1, 2, 3, 4, 5, 6], [3, 4])

In [ ]:
# list difference.

def list_difference(a, b):
    return list(set(a).difference(set(b)))
    


a = [1,2,3,4]
b = [3,4,5,6]

res = list_difference(a, b)
print(res)

[1, 2]

In [46]:
#6. First Repeating Element
#Problem:
#Return the first repeating element in a list.

def first_repeating_element(nums):
    seen = set()
    for num in nums:
        if num in seen:
            return num
        seen.add(num)
    return None

nums = [0, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

res = first_repeating_element(nums)

print(res)

1

In [47]:
#7. Find Missing Number
#Problem:
#Find missing number in the range 1 to n.

def find_missing(nums, n):
    return list(set(range(1, n+1)) - set(nums))

nums = [0, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

n = 11

res = find_missing(nums, n)

print(res)

[10, 11]

In [49]:
nums = [0, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

n = 20

res = find_missing(nums, n)

print(res)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#8. Two Sum Exists
#Problem:
#Return True if two numbers add up to target.

def has_pair_with_sum(nums, target):
    seen = set()
    for i in nums:
        if target - i in seen:
            return True
        seen.add(i)
    return False

In [56]:
nums =  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

target = 35

result = has_pair_with_sum(nums, target)

print(result)

True

In [60]:
# 9. Common Elements Across Multiple Lists
# Problem:
# Find common elements in all lists.

def commom_elements(lists):
    return set.intersection(*map(set, lists))

lists = [
    [1,2,4,3],
    [3,4,5,6],
    [4,3,6,7]
]


result = commom_elements(lists)

print(result)

{3, 4}

In [61]:
# 10. Unique Emails (from Gmail formatting rule)
# Problem:
# Ignore dots . and part after + in emails to find unique emails.

def unique_emails(emails):
    cleaned = set()
    for email in emails:
        local, domain = email.split("@")
        local = local.split('+')[0].replace('.','')
        cleaned.add(local + '@'+domain)
    return len(cleaned)

In [66]:
emails = ['x1t5m9q7z0@example.com',
'n8y6gk3wq@gmail.com','n9y6gk3wq@gmail.com','s4b7zv1l@yahoo.com',
'jd9e7x5m@outlook.com','n8y6gk3wq@gmail.com','n8y6gk3wq@gmail.com']

result = (unique_emails(emails))

print(result)

5

In [75]:
# 11. find all pairs with given sum
## problem: return all unique pairs(i, j) such that i + j == target.

def find_pairs(nums, target):
    seen = set()
    result = set()
    for num in nums:
        if target - num in seen:
            
            result.add(tuple(sorted((num, target - num))))
        seen.add(num)
    return result

nums = [1,2,3,4,5,11,12,13,14,9,8,7,6,15,16]

target = 20

result = find_pairs(nums, target)

result

{(4, 16), (5, 15), (6, 14), (7, 13), (8, 12), (9, 11)}

In [91]:
# 12. longest consecutive sequence
## asked in : Amazon and google

def longest_consecutive(nusm):
    num_set = set(nums)
    longest = 0
    for n in num_set:
        if n -1 not in num_set:
            length = 1
            while n + length in num_set:
                length += 1
            longest = max(longest, length)
    return longest , length

nums = [122121,22,11,2331,13,14,15,16,17]

result1 = longest_consecutive(nums)

print(result1)

(5, 1)

In [85]:
num_set = set(nums)
print(num_set)

{11, 13, 14, 15, 16, 17, 12212, 22, 2331}

In [86]:
11 - 1

10

In [87]:
11 + 1

12