# Dictionary -

- Dictionary is a mutable, unorderd, collection of key-value pairs in Python. It maps unique keys to value.

- Dictionary is created using {} curly braces and dict() function or constructor, list of tuples.

- dicionary is key value pair. we can modifiy values using key.
- we can assign same value to the multiple keys but we can't use same multiple key.

| Property         | Description                             |
| ---------------- | --------------------------------------- |
| Mutable          | Can change after creation               |
| Unordered (≤3.6) | Order is not guaranteed in old versions |
| Ordered (≥3.7)   | Maintains insertion order               |
| Key-Value Pairs  | Keys must be unique and immutable       |
| Fast Lookup      | Based on hash table implementation      |

In [28]:
dict1 = {} #----empty dictionary

type(dict1)

dict

In [29]:
dict2 = {"name":"vishnu","age" : 24, "palce": "nanded"}
# using curly braces
print(dict2)

{'name': 'vishnu', 'age': 24, 'palce': 'nanded'}

In [30]:
person = dict(name ="ameya", age=24) #--- using dict() contructor.
print(person)

{'name': 'ameya', 'age': 24}

In [31]:
# using list of tuple:-

data = [("a",10), ("b",20)]

dictt = dict(data)
print(dictt)

{'a': 10, 'b': 20}

# Accessing Elements:

In [32]:
dictt["a"]

10

In [33]:
person["name"]

'ameya'

In [34]:
dict2["name"]

'vishnu'

In [35]:
dictt["name"] = "prasad"

In [36]:
dictt["name"]

'prasad'

In [37]:
dictt

{'a': 10, 'b': 20, 'name': 'prasad'}

In [38]:
# using get():

print(dict1.get("name"))

None

In [39]:
print(dict2.get("name"))

vishnu

In [40]:
print(dictt.get("salary")) 
# If key is not present in the dictionary it can't be added using get() function as like key

None

In [41]:
dictt

{'a': 10, 'b': 20, 'name': 'prasad'}

In [42]:
dictt["Salary"] = 2000000

In [43]:
dictt

{'a': 10, 'b': 20, 'name': 'prasad', 'Salary': 2000000}

In [44]:
d1 = {"key1":"val1","key2":"val2","key3":"val3"}

print(f"The First Dictionary : {d1} and the type {type(d1)}")

The First Dictionary : {'key1': 'val1', 'key2': 'val2', 'key3': 'val3'} and the type <class 'dict'>

In [45]:
d1 = {"a":1,"b":2,"c":3,"d":4,"e":5}
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [46]:
d2 = {"kwy1":(1,2,3),
      "key2" : (3,2,1),
      "key3" : (5,6,7)
}

d2

{'kwy1': (1, 2, 3), 'key2': (3, 2, 1), 'key3': (5, 6, 7)}

In [47]:
d1 = {"key1":[1.5,3] , "key2":[2.5,7] , "key3":[3.5,5]}
d1

{'key1': [1.5, 3], 'key2': [2.5, 7], 'key3': [3.5, 5]}

In [48]:
d1 = {"key1":set([2,1.5,3]) , "key2":set([5,2.5,7]) , "key3":set([1,3.5,5])}
d1

{'key1': {1.5, 2, 3}, 'key2': {2.5, 5, 7}, 'key3': {1, 3.5, 5}}

In [49]:
d3 = {"key":frozenset([3,4,5,2,1]),"key2":frozenset([3.2,2.5,3]),"keys":frozenset([1.2,2.1,3,0.3])}
d3

{'key': frozenset({1, 2, 3, 4, 5}),
 'key2': frozenset({2.5, 3, 3.2}),
 'keys': frozenset({0.3, 1.2, 2.1, 3})}

In [50]:
d3 = {tuple([3,4,5,2,1]): "key2", tuple([3.2,2.5,3]):"keys4",frozenset([1.2,2.1,3,0.3]):"keys5"}
d3

{(3, 4, 5, 2, 1): 'key2',
 (3.2, 2.5, 3): 'keys4',
 frozenset({0.3, 1.2, 2.1, 3}): 'keys5'}

In [51]:
d3.keys()

dict_keys([(3, 4, 5, 2, 1), (3.2, 2.5, 3), frozenset({0.3, 1.2, 2.1, 3})])

In [52]:
d3.items()
type(d3.items())

dict_items

In [53]:
d3.values()

dict_values(['key2', 'keys4', 'keys5'])

In [54]:
d1 = {[1.5,30]:"val1" , [12.5,3]:"val2" , [1,2]:"val3"}
d1

TypeError: unhashable type: 'list'

In [ ]:
d1 = {set([1.5,30]):"val1" , set([12.5,3]):"val2" , set([1,2]):"val3"}
d1

TypeError: unhashable type: 'set'

In [ ]:
d1 = {set((1.5,30)):"val1" , set((12.5,3)):"val2" , set((1,2)):"val3"}
d1

TypeError: unhashable type: 'set'

In [ ]:
set((1,2,3))

{1, 2, 3}

In [ ]:
import datetime 

dob_str = input("Enter Date of Birth (DD/MM/YYYY): ")
dob = datetime.datetime.strptime(dob_str, "%d/%m/%Y").date()
dob_frmt = dob.strftime("%d/%m/%Y")

d2 = {"student_name" : input("Enter Student Name : "),
      "Age" : int(input("Enter student age : ")),
      "Class" : input("Enter Class : "),
      "DOB" : dob_frmt,
      "School_name" : input("Enter Your School Name : ")
      }
d2

{'student_name': 'Ameya Joshi',
 'Age': 24,
 'Class': '10th',
 'DOB': '07/04/2001',
 'School_name': 'PNHS'}

In [ ]:
d2.keys()

dict_keys(['student_name', 'Age', 'Class', 'DOB', 'School_name'])

In [ ]:
d2.values()

dict_values(['Ameya Joshi', 24, '10th', '07/04/2001', 'PNHS'])

In [ ]:
d2.items()

dict_items([('student_name', 'Ameya Joshi'), ('Age', 24), ('Class', '10th'), ('DOB', '07/04/2001'), ('School_name', 'PNHS')])

In [ ]:
"student_name"[0:7]

'student'

In [ ]:
for i in d2:
    print(i)

student_name
Age
Class
DOB
School_name

In [ ]:
for i in d2.values():
    print(i)

Ameya Joshi
24
10th
07/04/2001
PNHS

In [ ]:
for i in d2.items():
    print(i)

('student_name', 'Ameya Joshi')
('Age', 24)
('Class', '10th')
('DOB', '07/04/2001')
('School_name', 'PNHS')

In [ ]:
EmployeeDetails = {
    'EmployeeName' : 'Vishnu',
    'employeeLname' : 'Kulkarni',
    'companyName' : 'XYZ',
    'designation' : 'data Engineer',
    'Age' : 25,
    'Salary' : 1000000




}

EmployeeDetails

{'EmployeeName': 'Vishnu',
 'employeeLname': 'Kulkarni',
 'companyName': 'XYZ',
 'designation': 'data Engineer',
 'Age': 25,
 'Salary': 1000000}

In [ ]:
EmployeeDetails['Address'] = "Maharashtra"

In [ ]:
EmployeeDetails

{'EmployeeName': 'Vishnu',
 'employeeLname': 'Kulkarni',
 'companyName': 'XYZ',
 'designation': 'data Engineer',
 'Age': 25,
 'Salary': 1000000,
 'Address': 'Maharashtra'}

In [ ]:
EmployeeDetails["CompanyLocation"] = "Pune"
EmployeeDetails["Team"] = "DataScience"

In [ ]:
EmployeeDetails

{'EmployeeName': 'Vishnu',
 'employeeLname': 'Kulkarni',
 'companyName': 'XYZ',
 'designation': 'data Engineer',
 'Age': 25,
 'Salary': 1000000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience'}

# Update()

In [ ]:
EmployeeDetails = {
 'EmployeeName': 'Vishnu',
 'employeeLname': 'Kulkarni',
 'companyName': 'XYZ',
 'designation': 'data Engineer',
 'Age': 25,
 'Salary': 1000000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience'
 }

EmployeeDetails

{'EmployeeName': 'Vishnu',
 'employeeLname': 'Kulkarni',
 'companyName': 'XYZ',
 'designation': 'data Engineer',
 'Age': 25,
 'Salary': 1000000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience'}

In [ ]:
NewDetails = {
    "EmployeeID" : 10078,
    "LoginBadge" : "Yes",
    "Laptop" : "yes"
    
}

In [ ]:
EmployeeDetails.update(NewDetails)

In [ ]:
print(EmployeeDetails)

{'EmployeeName': 'Vishnu', 'employeeLname': 'Kulkarni', 'companyName': 'XYZ', 'designation': 'data Engineer', 'Age': 25, 'Salary': 1000000, 'Address': 'Maharashtra', 'CompanyLocation': 'Pune', 'Team': 'DataScience', 'EmployeeID': 10078, 'LoginBadge': 'Yes', 'Laptop': 'yes'}

In [ ]:
EmployeeDetails

{'EmployeeName': 'Vishnu',
 'employeeLname': 'Kulkarni',
 'companyName': 'XYZ',
 'designation': 'data Engineer',
 'Age': 25,
 'Salary': 1000000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience',
 'EmployeeID': 10078,
 'LoginBadge': 'Yes',
 'Laptop': 'yes'}

In [ ]:
EmployeeDetails = {
 'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience'}

EmployeeDetails.update({
    "EmployeeID" : 100078,
    "LoginBadge" : "Yes",
    "Laptop" : "Yes"
})

print(EmployeeDetails)

{'EmployeeName': 'Priya', 'EmployeeLName': 'Patil', 'CompanyName': 'Broadcom', 'Designation': 'Python Developer', 'Age': 23, 'Salary': 110000, 'Address': 'Maharashtra', 'CompanyLocation': 'Pune', 'Team': 'DataScience', 'EmployeeID': 100078, 'LoginBadge': 'Yes', 'Laptop': 'Yes'}

In [ ]:
EmployeeDetails

{'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience',
 'EmployeeID': 100078,
 'LoginBadge': 'Yes',
 'Laptop': 'Yes'}

In [ ]:
d1 = {
    "EmpName" : "vishnu",
    "CompanyName" : "TCS",
    "Age" : 26
}

d2 = {
    "EmpName" : "ameya",
    "Salary" : 120000,
    "EmpID" : "AR766776"
}

In [ ]:
d1

{'EmpName': 'Harsha', 'CompanyName': 'TCS', 'Age': 26}

In [ ]:
d1.update(d2)

In [ ]:
d1

{'EmpName': 'ameya',
 'CompanyName': 'TCS',
 'Age': 26,
 'Salary': 120000,
 'EmpID': 'AR766776'}

# Deleting items from dictionary
    -  pop()
    - popitem()
- clear
- del

In [ ]:
EmployeeDetails

{'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience',
 'EmployeeID': 100078,
 'LoginBadge': 'Yes',
 'Laptop': 'Yes'}

1. pop(key)
- remove specified key and return the corresponding value.

In [ ]:
EmployeeDetails.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
EmployeeDetails.pop('Laptop')

'Yes'

In [ ]:
EmployeeDetails

{'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience',
 'EmployeeID': 100078,
 'LoginBadge': 'Yes'}

In [ ]:
EmployeeDetails.popitem()

('LoginBadge', 'Yes')

In [ ]:
EmployeeDetails.popitem()

('EmployeeID', 100078)

In [ ]:
EmployeeDetails

{'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience'}

# Clear()

In [ ]:
EmployeeDetails

{'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Pune',
 'Team': 'DataScience'}

In [ ]:
EmployeeDetails.clear()

# del

In [ ]:
EmployeeDetails = {'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra'}

In [ ]:
li = [1,2,3]
del li[0]

In [ ]:
li

[2, 3]

In [ ]:
del EmployeeDetails["Address"]

In [ ]:
EmployeeDetails

{'EmployeeName': 'Priya',
 'EmployeeLName': 'Patil',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000}

In [ ]:
del EmployeeDetails

In [ ]:
EmployeeDetails

NameError: name 'EmployeeDetails' is not defined

In [ ]:
EmployeeDetails = {
 'EmployeeName': 'Vishnu',
 'EmployeeLName': 'Kulkarni',
 'CompanyName': 'Broadcom',
 'Designation': 'Python Developer',
 'Age': 23,
 'Salary': 110000,
 'Address': 'Maharashtra',
 'CompanyLocation': 'Mumbai',
 'Team': 'DataScience',
 'EmployeeID': 100078,
 'LoginBadge': 'Yes',
 'Laptop': 'Yes'
 }

In [ ]:
li = [1,2,3]
for i in range(3):
    print(li[i])

1
2
3

In [ ]:
for i in EmployeeDetails:
    print(i)

EmployeeName
EmployeeLName
CompanyName
Designation
Age
Salary
Address
CompanyLocation
Team
EmployeeID
LoginBadge
Laptop

In [ ]:
EmployeeDetails['EmployeeName']

'Vishnu'

In [ ]:
for i in EmployeeDetails:
    print(i)
    print(EmployeeDetails[i])
    print()

EmployeeName
Vishnu

EmployeeLName
Kulkarni

CompanyName
Broadcom

Designation
Python Developer

Age
23

Salary
110000

Address
Maharashtra

CompanyLocation
Mumbai

Team
DataScience

EmployeeID
100078

LoginBadge
Yes

Laptop
Yes

In [ ]:
d1

{'EmpName': 'ameya',
 'CompanyName': 'TCS',
 'Age': 26,
 'Salary': 120000,
 'EmpID': 'AR766776'}

In [ ]:
stuMarks = {}
numstu = int(input("How many student :- "))
for i in range(numstu):
    name = input("Enter student name :- ")
    marks = float(input("Enter student marks :- "))
    stuMarks[name] = marks
print(numstu)
print(stuMarks)

2
{'vishnu': 90.0, 'ameay': 90.0}

In [ ]:
stuMarks

{'vishnu': 90.0, 'ameay': 90.0}

In [ ]:
name

'ameay'

In [ ]:
name

'ameay'

In [ ]:
d1 = {}
d1[name] = marks
d1

{'ameay': 90.0}

In [ ]:
sqDi = {}
num = int(input("Enter the number :- "))
for i in range(1, num +1):
    sqDi[i] = i ** 2

sqDi

{1: 1, 2: 4}

In [ ]:
sqDi = {}
num = int(input("Enter the number :- "))
for i in range(1, num +1):
    sqDi[i] = i ** 2

    
sqDi

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
cuDi = {}
num = int(input("Enter the number :- "))
for i in range(1,num + 1):
    cuDi[i] = i ** 3

print(f"Enter the Number :- ")
print(cuDi)

Enter the Number :-
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

In [ ]:
cuDi = {}
num = int(input("Enter the number :- "))
for i in range(1, num + 1):
    cuDi[i] = i ** 3
    print(cuDi)

{1: 1}
{1: 1, 2: 8}
{1: 1, 2: 8, 3: 27}
{1: 1, 2: 8, 3: 27, 4: 64}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
ord("A")

65

In [ ]:
chr(65)

'A'

In [ ]:
UpperDi = {}
for i in range(65,91):
    UpperDi[chr(i)] = i
UpperDi

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [ ]:
ord("G")

71

In [ ]:
chr(65)

'A'

In [ ]:
UpperDi = {}
for i in range(65,91):
    UpperDi[chr(i)] = i

UpperDi

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [ ]:
UpperDi = {}
for i in range(65,91):
    UpperDi.Update({chr(i):i})
UpperDi

AttributeError: 'dict' object has no attribute 'Update'

# Nestead Dictionary
- Dictionary inside a Dictionary.

In [ ]:
di =  {
    "EmpName":"Vishnu",
    "EmployeeAge":45,
    "Salary":150000,
    "Designation" : "Python Developer"
}

In [ ]:
di

{'EmpName': 'Vishnu',
 'EmployeeAge': 45,
 'Salary': 150000,
 'Designation': 'Python Developer'}

In [ ]:
di.keys()

dict_keys(['EmpName', 'EmployeeAge', 'Salary', 'Designation'])

In [ ]:
di.values()

dict_values(['Vishnu', 45, 150000, 'Python Developer'])

In [ ]:
d1 = {
    "ABC123":{
    "name":"Vishnu",
    "age" : 25,
    "EmployeeId" : "V124"
    },
    "ABC124" : {
    "EmpName":"Vishal",
    "EmployeeAge":25,
    "Salary":100000,
    "Designation" : ["Jr Data Scientist","Python Developer","Data Scientist"]      
    },
    "ABC125" : {
    "EmpName":"Ameya",
    "EmployeeAge":24,
    "Salary":110000,
    "Designation" : "Data Scientist"
}
}

In [ ]:
d1

{'ABC123': {'name': 'Vishnu', 'age': 25, 'EmployeeId': 'V124'},
 'ABC124': {'EmpName': 'Vishal',
  'EmployeeAge': 25,
  'Salary': 100000,
  'Designation': ['Jr Data Scientist', 'Python Developer', 'Data Scientist']},
 'ABC125': {'EmpName': 'Ameya',
  'EmployeeAge': 24,
  'Salary': 110000,
  'Designation': 'Data Scientist'}}

In [ ]:
d1["ABC123"]["EmployeeId"]

'V124'

In [ ]:
d1["ABC124"]["Designation"]

['Jr Data Scientist', 'Python Developer', 'Data Scientist']

In [ ]:
d1["ABC124"]["Designation"][1]

'Python Developer'

In [ ]:
d1["ABC124"]["Designation"][0]

'Jr Data Scientist'

In [ ]:
emp_db = {
    "ABC123" : {
        "EmpName" : "Vishnu",
        "EmpAge" : 25,
        "Salary" : 1500000,
        "Designation" : "Data Engineer"
    },
    "ABC124":{
        "EmpName" : "Ameya",
        "EmpAge" : 25,
        "Salary" : 1100000,
        "Designation" : "Data Engineer"
    },
    "ABC125" : {
        "EmpName" : "prasad",
        "EmpAge" : 27,
        "Salary" : 2200000,
        "Designation" : "sr.Engineer"
    }
}

emp_db

{'ABC123': {'EmpName': 'Vishnu',
  'EmpAge': 25,
  'Salary': 1500000,
  'Designation': 'Data Engineer'},
 'ABC124': {'EmpName': 'Ameya',
  'EmpAge': 25,
  'Salary': 1100000,
  'Designation': 'Data Engineer'},
 'ABC125': {'EmpName': 'prasad',
  'EmpAge': 27,
  'Salary': 2200000,
  'Designation': 'sr.Engineer'}}

In [ ]:
emp_db['ABC123']

{'EmpName': 'Vishnu',
 'EmpAge': 25,
 'Salary': 1500000,
 'Designation': 'Data Engineer'}

In [ ]:
emp_db['ABC123']['Salary'] = 1700000

In [ ]:
emp_db['ABC123']

{'EmpName': 'Vishnu',
 'EmpAge': 25,
 'Salary': 1700000,
 'Designation': 'Data Engineer'}

In [ ]:
emp_db["ABC124"]["Designation"].upper()

'DATA ENGINEER'

In [ ]:
emp_db["ABC124"]["Designation"].split()

['Data', 'Engineer']

In [ ]:
for i in emp_db["ABC123"]["Designation"]:
    print(i.upper())

D
A
T
A

E
N
G
I
N
E
E
R

In [ ]:
for i in emp_db["ABC123"]["Designation"].split():
    print(i.upper())

DATA
ENGINEER

In [ ]:
subject = ["phy","che","math","eng","bio"]
marks = [88,89,78,56,54]

stuMarks = {}

for i in range(len(subject)):
    print(i)

0
1
2
3
4

In [ ]:
subject = ["phy","che","math","eng","bio"]
marks = [88,89,78,56,54]

stuMarks = {}

for i in range(len(subject)):
    print(subject[i])
    print(marks[i])
    print()

phy
88

che
89

math
78

eng
56

bio
54

In [ ]:
d1 = {}
d1["name"] = "Vishnu"
d1

{'name': 'Vishnu'}

In [ ]:
print(d1)

{'name': 'Vishnu'}

In [ ]:
subject = ["Phy","Che","Math","Eng","Bio"]
marks = [88,89,78,56,54]

stuMarks = {}

for i in range(len(subject)):
    stuMarks[subject[i]] = marks[i]
    print(stuMarks)

{'Phy': 88}
{'Phy': 88, 'Che': 89}
{'Phy': 88, 'Che': 89, 'Math': 78}
{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56}
{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}

In [ ]:
subject = ["Phy","Che","Math","Eng","Bio"]
marks = [88,89,78,56,54]

stuMarks = {}

for i, j in enumerate(subject):
    stuMarks[j] = marks[i]
    print(stuMarks)

{'Phy': 88}
{'Phy': 88, 'Che': 89}
{'Phy': 88, 'Che': 89, 'Math': 78}
{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56}
{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}

In [ ]:
subject = ["Phy","Che","Math","Eng","Bio"]
marks = [88,89,78,56,54]

stuMarks = {}

for i,j in enumerate(subject):
    stuMarks.update({j:marks[i]})
    print(stuMarks)

{'Phy': 88}
{'Phy': 88, 'Che': 89}
{'Phy': 88, 'Che': 89, 'Math': 78}
{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56}
{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}

# Sort dictionary

## sort by keys

In [ ]:
stuMarks = {'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}
stuMarks

{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}

In [ ]:
stuMarks.keys()

dict_keys(['Phy', 'Che', 'Math', 'Eng', 'Bio'])

In [ ]:
sorted(['Phy', 'Che', 'Math', 'Eng', 'Bio'])

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [ ]:
sorted(stuMarks.keys(),reverse = True)

['Phy', 'Math', 'Eng', 'Che', 'Bio']

In [ ]:
sorted(stuMarks.keys(),reverse = False)

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [ ]:
stuMarks = {'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}
stuMarks

{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}

In [ ]:
stuMarks.values()

dict_values([88, 89, 78, 56, 54])

In [ ]:
sorted([88,89,78,56,54])

[54, 56, 78, 88, 89]

In [ ]:
stuMarks = {'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}
stuMarks

{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}

In [ ]:
stuMarks.values()

dict_values([88, 89, 78, 56, 54])

In [ ]:
for i in sorted(stuMarks.keys(),reverse = False):
    print(i, stuMarks[i])

Bio 54
Che 89
Eng 56
Math 78
Phy 88

In [ ]:
newDi = {}

for i in sorted(stuMarks.keys(),reverse = False):
    newDi[i] = stuMarks[i]
    print(newDi)

{'Bio': 54}
{'Bio': 54, 'Che': 89}
{'Bio': 54, 'Che': 89, 'Eng': 56}
{'Bio': 54, 'Che': 89, 'Eng': 56, 'Math': 78}
{'Bio': 54, 'Che': 89, 'Eng': 56, 'Math': 78, 'Phy': 88}

In [ ]:
stuMarks

{'Phy': 88, 'Che': 89, 'Math': 78, 'Eng': 56, 'Bio': 54}