# Basic functions:

In [1]:
n = int(input("Enter NUmber"))
val = "python"
for i in range(n):
    print(val)

python
python

In [2]:
n = int(input("Enter NUmber"))
val = "java"
for i in range(n):
    print(val)

java
java
java
java

In [3]:
p = 20
q = 30

fx = 3*p + 4*q
fx

180

[1, 2, 3, 4, 1, 2, 3, 4]
True

In [1]:
def create_user(username, /, password, *, active=True, **extra_fields):
    print("Username:", username)
    print("Password:", password)
    print("Active:", active)
    print("Extra:", extra_fields)

create_user("vishnu", "secret", active=False, role="admin", location="Pune")

Username: vishnu
Password: secret
Active: False
Extra: {'role': 'admin', 'location': 'Pune'}

In [2]:
def api_call(endpoint, *args, timeout=30, **kwargs):
    print("Endpoint:", endpoint)
    print("Args:", args)
    print("Timeout:", timeout)
    print("Kwargs:", kwargs)

api_call("/users", 1, 2, timeout=5, auth="token")

Endpoint: /users
Args: (1, 2)
Timeout: 5
Kwargs: {'auth': 'token'}

In [3]:
def evenOdd(x):
    """Function to check if the number is even or odd"""
    
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")


print(evenOdd.__doc__)

Function to check if the number is even or odd

In [7]:
evenOdd(4)
evenOdd.__doc__

even

'Function to check if the number is even or odd'

In [8]:
li = ['a', 'b', 'c', 'd']
print("".join(li))

abcd

In [10]:
def fun():
    s == 'GFG'  
    print("Inside Function", s)

s = "I love Geeksforgeeks"
fun()

Inside Function I love Geeksforgeeks

In [15]:
def fun():
    global s
    s += ' GFG'   # Modify the global variable
    print(s)
    s = "Look for Geeksforgeeks Python Section"
    print(s)

s = "Python is great!"
fun()
print(s)

Python is great! GFG
Look for Geeksforgeeks Python Section
Look for Geeksforgeeks Python Section

In [16]:
def SplitString(string):
    string = string.lower()
    print(f"Lower cased string :- {string}")
    li = string.split()
    print(f"Splited List :- {li}")
    
SplitString("Machine Learning")

Lower cased string :- machine learning
Splited List :- ['machine', 'learning']

In [17]:
def SplitString(string):
    string = string.upper()
    print(f"Lower cased string :- {string}")
    li = string.split()
    print(f"Splited List :- {li}")
    
SplitString("Machine Learning")

Lower cased string :- MACHINE LEARNING
Splited List :- ['MACHINE', 'LEARNING']

In [18]:
SplitString("Ameya Joshi")

Lower cased string :- AMEYA JOSHI
Splited List :- ['AMEYA', 'JOSHI']

In [19]:
SplitString('PRASAD bakore')

Lower cased string :- PRASAD BAKORE
Splited List :- ['PRASAD', 'BAKORE']

In [20]:
def SplitString(string):
    print(f"Lower cased string :- {string.lower()}")
    print(f"Splited List :- {string.split()}")
    print()


str1 = "Machine Learning"
str2 = "Natural Language Processing"
str3 = "Deep Learning"
str4 = "Data Science"
    

SplitString(str1)
SplitString(str2)
SplitString(str3)
SplitString(str4)

Lower cased string :- machine learning
Splited List :- ['Machine', 'Learning']

Lower cased string :- natural language processing
Splited List :- ['Natural', 'Language', 'Processing']

Lower cased string :- deep learning
Splited List :- ['Deep', 'Learning']

Lower cased string :- data science
Splited List :- ['Data', 'Science']

In [22]:
def SplitString(string):
    print(f"Lower cased string :-{string.lower()}")
    print(f'Splitted List :- {string.split()}')
    print(f'Joined string :- {''.join(string.split())}')
    print('*'* 30)
    print()

str1 = 'Machine Learning'
str2 = 'Vishnu Kulkarni'
str3 = 'Deep Learning'
str4 = 'Data Science'

SplitString(str1)
SplitString(str2)
SplitString(str3)
SplitString(str4)

Lower cased string :-machine learning
Splitted List :- ['Machine', 'Learning']
Joined string :- MachineLearning
******************************

Lower cased string :-vishnu kulkarni
Splitted List :- ['Vishnu', 'Kulkarni']
Joined string :- VishnuKulkarni
******************************

Lower cased string :-deep learning
Splitted List :- ['Deep', 'Learning']
Joined string :- DeepLearning
******************************

Lower cased string :-data science
Splitted List :- ['Data', 'Science']
Joined string :- DataScience
******************************

In [26]:
def SplitString(string):
    print(f'Original String :- {string}')
    modify = string.upper().split()
    print(f'Modified String : { modify}')
    
    print(f'Joined string :- {''.join(string.split())}')
    print('*'* 30)
    print()

str1 = 'Machine Learning'
str2 = 'Vishnu Kulkarni'
str3 = 'Deep Learning'
str4 = 'Data Science'

SplitString(str1)
SplitString(str2)
SplitString(str3)
SplitString(str4)

Original String :- Machine Learning
Modified String : ['MACHINE', 'LEARNING']
Joined string :- MachineLearning
******************************

Original String :- Vishnu Kulkarni
Modified String : ['VISHNU', 'KULKARNI']
Joined string :- VishnuKulkarni
******************************

Original String :- Deep Learning
Modified String : ['DEEP', 'LEARNING']
Joined string :- DeepLearning
******************************

Original String :- Data Science
Modified String : ['DATA', 'SCIENCE']
Joined string :- DataScience
******************************

# positional arguments :- 

- It is the most common, Arguments are matched to parameters in order/position.
- first Argument gores to first Parameter, the second to the second , and so on.
- It is must to follow the sequence of Arguments & parameter otherwise it change the meaning or Wrongly Assinging values to Argument's

ex. def add(x,y):
    print('sum: ', a + b)

add(3,5)

In [28]:
def add(x,y): # x & y are the positional Arguments
    print('sum: ', x + y)

add(3,5) # parameters given to the argument.

sum:  8

# Order matters !

In [31]:
def info(name , age):
    print(f'{name}, is {age} years old.')

info('Prasad', 27) # correct Orders
info(27,'Ameya') # wrong Meaning

Prasad, is 27 years old.
27, is Ameya years old.

In [32]:
def hello():
    print('Hello..!')

In [33]:
hello()

Hello..!

In [35]:
print(hello())

Hello..!
None

In [37]:
output = print()

print(output)

None

In [38]:
# average of 3 numbers

def calc_avg(a, b, c):
    sum = a + b + c
    avg = sum / 3

    return avg

calc_avg(98, 99, 95)

97.33333333333333

# type of function 

## built-in functions :

1. print
2. len()
3. type()
4. range()

## User defined Function :

- function created or defined by User or programer

In [39]:
def cal_product(a, b):
    print(a * b)

    return a * b

cal_product()

TypeError: cal_product() missing 2 required positional arguments: 'a' and 'b'

In [46]:
def cal_product(a, b= 2):
    #print(a * b)
    return a * b

cal_product(1)

2

In [49]:
def cal_product(a= 2, b=3):
    #print(a * b)
    return a * b

cal_product(1)

3

In [50]:
# write a function to print the lenght of a list (list is the parameter)

cities = ['delhi', 'noida', 'pune', 'mumbai', 'nanded']
heros = ['thor', 'shaktiman', 'ironman', 'karn', 'Arjun', 'Krishna']

def print_len(list):
    print(len(list))


print_len(cities)
print_len(heros)

5
6

In [52]:
#WAF to print the element of the list in single line.

def print_list(list):
    print(list, end = " ")


print_list(cities)
print_list(heros)

['delhi', 'noida', 'pune', 'mumbai', 'nanded'] ['thor', 'shaktiman', 'ironman', 'karn', 'Arjun', 'Krishna']

In [53]:
cities = ['delhi', 'noida', 'pune', 'mumbai', 'nanded']
heros = ['thor', 'shaktiman', 'ironman', 'karn', 'Arjun', 'Krishna']

def print_li(list):
    for item in list:
        print(item, end= " ")

print_li(cities)
print_li(heros)

delhi noida pune mumbai nanded thor shaktiman ironman karn Arjun Krishna

In [65]:
# WAF to find the factorial of n. ( n is the parameter)

n = 5

def factorial():
    facto = 1
    for i in range(1, n+1):
        facto *= i
    return facto

factorial()

120

In [55]:
n = 5
facto = 1
for i in range(1, n + 1):
    facto *= i

print("Factorial= ",facto )

Factorial=  120

In [66]:
# WAF to find the factorial of n. ( n is the parameter)

# n = 5

def factorial(n):
    facto = 1
    for i in range(1, n+1):
        facto *= i
    return facto

factorial(5)

120

In [67]:
def factorial(n=5):
    facto = 1
    for i in range(1, n+1):
        facto *= i
    return facto

factorial()

120

In [68]:
# WAF to convert USD to INR. 

def Converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val , "USD =", inr_val, 'INR')

Converter(100)

100 USD = 8300 INR

In [76]:
# WAF to find number is even or odd.



def even_odd(num):
        if num % 2 == 0:
            print('number is even')
        else:
              print('number is odd.')

n = int(input('Enter the number to check is even or odd: '))
result = even_odd(n)

number is even

# Recursion :

when a function calls itself repeatedly.

In [ ]:
def show(n):
    if(n == 0):
        return
    print(n)
    show(n-1)

show(5)

5
4
3
2
1

In [83]:
def show(n):
    if(n == 0):
        return
    print(n)
    show(n-1)
    print("END")


show(5)

5
4
3
2
1
END
END
END
END
END

In [84]:
def fact(n): # recurance relation  ## repeat hon
    if (n == 0 or n == 1):
        return 1
    else:
        return n * fact(n - 1)
    

fact(5)

120

- call stack (stack of books)
how to imagin call stack is like a glass.

show() take a place into the glass at bottom.

In [87]:
# Write a recursive func. to calculate the sum of first n natural number.

def cal_sum(n):
    if (n == 0 or n == 1):
        return 1
    return cal_sum(n-1) * n


cal_sum(5)

120

In [93]:
def name(*args):
    return 'name: ' + ', '.join(args)

a = name('vishnu', 'ameya','shrushti')

print(a)

name: vishnu, ameya, shrushti

In [ ]:
def name(*args):
    return 'name: ' + ', '.join(args)

a = name('vishnu', 'ameya','shrushti')

print(a)

name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti
name: vishnu, ameya, shrushti