In [2]:
l1 = [1,2,3,4,5,6]
print(type(l1))

<class 'list'>

In [1]:
import mysql_connector
print("intalled")

ModuleNotFoundError: No module named 'mysql_connector'

In [3]:
# a[len(a):] = [x].

l1[len(l1):] = [7]

In [5]:
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [6]:
l1.append(8)

In [7]:
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
l1.sort()

In [9]:
l1.sort()

In [10]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
original_length = len(l1)

l1 = [i for i in l1 if i != original_length]

print(l1)

[1, 2, 3, 4, 5, 6]

In [18]:
l1

[1, 2, 3, 4, 5, 6]

In [19]:
li = [1, 2, 3, 4.4, '5', [1, 2, 3]]

In [20]:
li[0]= "machine"

In [21]:
li

['machine', 2, 3, 4.4, '5', [1, 2, 3]]

In [22]:
l1[1]

2

In [23]:
li.insert(1,1)

In [24]:
l1

[1, 2, 3, 4, 5, 6]

In [25]:
li

['machine', 1, 2, 3, 4.4, '5', [1, 2, 3]]

## list indexing

In list we are able to perform +ve indexing and -tive indexing 

- positive : 0,1,2,3,4,5,6,7,8,...n
- negative : -1,-2,-3,-4,-5,-6,..n

In [26]:
str1 = "vishnu kulkarni"

In [27]:
str1[2]

's'

In [28]:
str1[0:7]

'vishnu '

In [29]:
list = [1,2,3,4,5,6,7,8]

In [30]:
list[1]

2

In [32]:
list[1:8]

[2, 3, 4, 5, 6, 7, 8]

In [34]:
list[0::2]

[1, 3, 5, 7]

In [37]:
list[-1:-4:-1]

[8, 7, 6]

In [38]:
print(list[0],list[1],list[6])

1 2 7

## list Slicing

Syntax:
- list_name[start_lindex:end_index:step_size] as same as string Slicing

In [40]:
li = [1,2,3,4,5,"vishnu", "24","26","python"]

li

[1, 2, 3, 4, 5, 'vishnu', '24', '26', 'python']

In [41]:
li[0:3]

[1, 2, 3]

In [42]:
li[:7]

[1, 2, 3, 4, 5, 'vishnu', '24']

In [43]:
li[-1:-5]

[]

In [44]:
li[-1:-5:-1]

['python', '26', '24', 'vishnu']

In [45]:
li[::-1]

['python', '26', '24', 'vishnu', 5, 4, 3, 2, 1]

In [47]:
li[0] + 100

101

In [48]:
li

[1, 2, 3, 4, 5, 'vishnu', '24', '26', 'python']

In [49]:
li[6]+"2"

'242'

In [50]:
"a" + "b"

'ab'

In [51]:
''.join(["a","b"])

'ab'

In [52]:
li[7]

'26'

In [54]:
print(type(li[7]))

<class 'str'>

In [55]:
li[7] = 26

In [56]:
type(li[7])

int

In [57]:
li[5].upper()

'VISHNU'

In [58]:
li[5].title()

'Vishnu'

In [59]:
li[5].capitalize()

'Vishnu'

In [60]:
li[5].casefold()

'vishnu'

In [63]:
li[5].endswith("u")

True

In [66]:
if li[-1].islower():
    print("yah..! It is in lower case.")

else:
    print("Oops.. NOt in lower case.")

yah..! It is in lower case.

In [67]:
li[-1]

'python'

In [68]:
l1 = [0,1,2,3,4,[1,2,3,4,5,6]]
l1

[0, 1, 2, 3, 4, [1, 2, 3, 4, 5, 6]]

In [69]:
l1[1]

1

In [70]:
li[0]

1

In [71]:
l1[5]

[1, 2, 3, 4, 5, 6]

In [75]:
l1[5]

[1, 2, 3, 4, 5, 6]

In [77]:
l1[5][0]

1

In [78]:
l1[5][-2]

5

In [79]:
l1[5][0:4]

[1, 2, 3, 4]

In [80]:
l1[5][-5:-1]

[2, 3, 4, 5]

In [83]:
cities = ["Nanded","pune","mumbai","nagpur","nashik"]
city = "Nanded"

if city in cities:
    print(f"{city} is present in the list")
else:
    print(f"{city} is not present in list")

Nanded is present in the list

In [84]:
cities = ["Nanded","pune","mumbai","nagpur","nashik"]
city = "nanded"

if city in cities:
    print(f"{city} is present in the list")
else:
    print(f"{city} is not present in list")

nanded is not present in list

In [85]:
cities = ["Nanded","pune","mumbai","nagpur","nashik"]
city = "yavatmal"

if city in cities:
    print(f"{city} is present in the list")
else:
    print(f"{city} is not present in list")

yavatmal is not present in list

## Accessing list items using for loop

for variableName in sequence:
    statement
    .
    .
    .
    statement

In [86]:
cities = ["Nanded","pune","mumbai","nagpur","nashik"]

for city in cities:
    print(f"Welcome to {city}")

Welcome to Nanded
Welcome to pune
Welcome to mumbai
Welcome to nagpur
Welcome to nashik

In [88]:
cities = ["Nanded","pune","mumbai","nagpur","nashik"]

cities_WithName_N = [city for city in cities if city.lower().startswith("n")]

print(cities_WithName_N)

['Nanded', 'nagpur', 'nashik']

In [89]:
str1 = "vishnu kulkarni"

for char in str1:
    print(char)

v
i
s
h
n
u

k
u
l
k
a
r
n
i

In [90]:
city

'nashik'

In [91]:
char

'i'

In [92]:
char

'i'

In [94]:
for iteration, city in enumerate(cities):
    print(iteration,f"welcome to our {city}")

0 welcome to our Nanded
1 welcome to our pune
2 welcome to our mumbai
3 welcome to our nagpur
4 welcome to our nashik

In [98]:
str2 = "python"

chars = [char for i , char in enumerate(str2)]

print(chars)

['p', 'y', 't', 'h', 'o', 'n']

In [99]:
for i, char in enumerate(str2):
    print(i,char)

0 p
1 y
2 t
3 h
4 o
5 n

In [1]:
for i, j in enumerate("1"):
    print(i,j)

0 1

In [2]:
for i,j in enumerate("12"):
    print(i,j)

0 1
1 2

In [ ]:
for i,j in enumerate(12): # need str 
    print(i,j)

TypeError: 'int' object is not iterable

In [6]:
for i,j in enumerate("and"):
    print(i,j)

0 a
1 n
2 d

In [14]:
str1 = "python"

for index in enumerate(str1):
    print(index)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [20]:
str1 = "python"

for index in enumerate(str1):
    print(index[0],index[1])

0 p
1 y
2 t
3 h
4 o
5 n

In [21]:
str1 = "python"

for index,char in enumerate(str1):
    print(index,char)

0 p
1 y
2 t
3 h
4 o
5 n

In [22]:
a = (1,2)

In [23]:
a,b = (1,2)

In [24]:
a

1

In [25]:
b

2

In [30]:
cnt =  0

for char in "python":
    
    print(f"index --> {cnt}, char--> {char}")
    cnt += 1

index --> 0, char--> p
index --> 1, char--> y
index --> 2, char--> t
index --> 3, char--> h
index --> 4, char--> o
index --> 5, char--> n

In [31]:
cities = ["Nanded","pune","mumbai","nagpur","nashik"]

for i in cities:
    print(i)

Nanded
pune
mumbai
nagpur
nashik

In [33]:
for i in cities:
    if i.startswith("n") or i.startswith("m"):
        print(i)

mumbai
nagpur
nashik

# odd even number

In [36]:
li =  list(range(20))

for i in li:
    if i % 2 == 0:
        print(f"{i} is even number.")
    else:
        print(f"{i} is odd number.")

0 is even number.
1 is odd number.
2 is even number.
3 is odd number.
4 is even number.
5 is odd number.
6 is even number.
7 is odd number.
8 is even number.
9 is odd number.
10 is even number.
11 is odd number.
12 is even number.
13 is odd number.
14 is even number.
15 is odd number.
16 is even number.
17 is odd number.
18 is even number.
19 is odd number.

In [37]:
even = []
odd = []

for i in li:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [38]:
print(f"{even} This is Even number list.")
print(f"{odd} This is Odd number List.")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18] This is Even number list.
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19] This is Odd number List.

In [39]:
a,b,c = 1,2,3

In [41]:
def dummy(a,b,c):
    a += 5
    b += 10
    c += 15
    return a,b,c

dummy(1,2,3)

(6, 12, 18)

In [44]:
dummy(1,2,4)[0]

6

In [50]:
dummy(1,2,5)[2]

20

In [51]:
A,B,C = dummy(10,15,20)

In [52]:
A

15

In [53]:
for index,ele in enumerate(li):
    print(f"The index --> {index} and element -> {ele}")

The index --> 0 and element -> 0
The index --> 1 and element -> 1
The index --> 2 and element -> 2
The index --> 3 and element -> 3
The index --> 4 and element -> 4
The index --> 5 and element -> 5
The index --> 6 and element -> 6
The index --> 7 and element -> 7
The index --> 8 and element -> 8
The index --> 9 and element -> 9
The index --> 10 and element -> 10
The index --> 11 and element -> 11
The index --> 12 and element -> 12
The index --> 13 and element -> 13
The index --> 14 and element -> 14
The index --> 15 and element -> 15
The index --> 16 and element -> 16
The index --> 17 and element -> 17
The index --> 18 and element -> 18
The index --> 19 and element -> 19

In [54]:
li = ["One","Two","Three","Four","Five"]

for index,ele in enumerate(li):
    print(f"The index --> {index} and element -> {ele}")

The index --> 0 and element -> One
The index --> 1 and element -> Two
The index --> 2 and element -> Three
The index --> 3 and element -> Four
The index --> 4 and element -> Five

In [55]:
a,b = 2,3

In [56]:
a

2

In [57]:
b

3

In [58]:
li[3]

'Four'

# range

In [59]:
range(0, 10)

range(0, 10)

In [60]:
type(range(0,10))

range

In [61]:
print(type(range(0,10)))

<class 'range'>

In [62]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [64]:
list(range(-5,-1))

[-5, -4, -3, -2]

In [65]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [66]:
li

['One', 'Two', 'Three', 'Four', 'Five']

In [68]:
for i in range(len(li)):
    print(i,li[i])

0 One
1 Two
2 Three
3 Four
4 Five

In [71]:
for i,e in enumerate(li):
    print(i,e)

0 One
1 Two
2 Three
3 Four
4 Five

In [74]:
for i in range(len(li) +5):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [75]:
for i in range(0,21):
    print(i + 100)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120

In [76]:
for i in range(0,21):
    if i % 2 == 0:
        print(f"Even value -> {i}")

Even value -> 0
Even value -> 2
Even value -> 4
Even value -> 6
Even value -> 8
Even value -> 10
Even value -> 12
Even value -> 14
Even value -> 16
Even value -> 18
Even value -> 20

In [77]:
for item in li:
    if type(item) == str:
        print(f"string item --> {item}")

string item --> One
string item --> Two
string item --> Three
string item --> Four
string item --> Five

In [80]:
li = [1,2,3,3.3,"4",1,1.1,90,90.21,"Python",[1,2,3,4]]

In [81]:
for i in range(len(li)):
    if type(li[i]) == float:
        print(li[i])

3.3
1.1
90.21

In [82]:
for i in range(len(li)):
    if type(li[i]) == list:
        print(li[i])

[1, 2, 3, 4]

In [83]:
CityNames = ["Pune","Mumbai","Delhi","Chennai"]

for i in CityNames:
    print(i,i.upper())

Pune PUNE
Mumbai MUMBAI
Delhi DELHI
Chennai CHENNAI

li = [1,2,3,3.3,"4",1,1.1,90,90.21,"Python",[1,2,3,4]]

In [85]:
for i in li:
    if type(i) == int:
        print(i,i+100,"int value")
    elif type(i) == float:
        print(i,i + 5 ,"float value")
    elif type(i) == str:
        print(i, i * 3, "class str")
    else:
        print("this value is not int,flt or string")

1 101 int value
2 102 int value
3 103 int value
3.3 8.3 float value
4 444 class str
1 101 int value
1.1 6.1 float value
90 190 int value
90.21 95.21 float value
Python PythonPythonPython class str
this value is not int,flt or string

In [2]:
# find unique element from list

li1 = [1,2,3,4,2,4,3,5,6,7,4,7]
li2 = []
for i in li1:
    if i not in li2:
        li2.append(i)
print(li2)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
num = 22

if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd")

22 is even.

In [3]:
li1 = [1, 2, 3, 4, 5, 6, 7,8,9,10,12,11,544,54,35,323]

try:
    for i in li1:
        if i % 2 == 0:
            print(f"{i} is even.")
        else:
            print(f"{i} is odd")
except ValueError:
    print(f"invalid input!")

1 is odd
2 is even.
3 is odd
4 is even.
5 is odd
6 is even.
7 is odd
8 is even.
9 is odd
10 is even.
12 is even.
11 is odd
544 is even.
54 is even.
35 is odd
323 is odd