# delete items from list

- 1. remove()
- 2. POP()
- 3. clear()
- 4. del keyword

In [1]:
li = ["phy","chem","math","bio","eng"]

In [2]:
li

['phy', 'chem', 'math', 'bio', 'eng']

In [3]:
li.remove("chem")

In [4]:
li

['phy', 'math', 'bio', 'eng']

In [5]:
li.find("chem")

AttributeError: 'list' object has no attribute 'find'

In [6]:
li.find("eng")

AttributeError: 'list' object has no attribute 'find'

In [8]:
"python" in "p"

False

In [9]:
"p" in "python"

True

In [11]:
li = ["phy","chem","math","bio","eng"]

print (li)

print("*"*50)

ele = "chem"
if ele in li:
    li.remove(ele)
    print("This value to be removed is present in the list.")
else:
    print("value to be removed is not present in the list")

print(li,"final list")

['phy', 'chem', 'math', 'bio', 'eng']
**************************************************
This value to be removed is present in the list.
['phy', 'math', 'bio', 'eng'] final list

In [12]:
li = ["phy","chem","math","bio","eng"]

print (li)

print("*"*50)

ele = "chem"
if ele in li:
    li.add(ele)
    print("This value to be removed is present in the list.")
else:
    print("value to be removed is not present in the list")

print(li,"final list")

['phy', 'chem', 'math', 'bio', 'eng']
**************************************************

AttributeError: 'list' object has no attribute 'add'

In [13]:
li.insert(1,"chem")

In [14]:
li

['phy', 'chem', 'chem', 'math', 'bio', 'eng']

In [24]:
li.remove("stats")

ValueError: list.remove(x): x not in list

In [15]:
import random

In [16]:
li = [random.randint(0,50) for i in range(0,20)]
print(li)

[2, 34, 8, 1, 14, 41, 17, 39, 9, 39, 25, 7, 15, 45, 43, 43, 3, 9, 18, 49]

In [17]:
for val in li:
    print(val)

2
34
8
1
14
41
17
39
9
39
25
7
15
45
43
43
3
9
18
49

In [18]:
li

[2, 34, 8, 1, 14, 41, 17, 39, 9, 39, 25, 7, 15, 45, 43, 43, 3, 9, 18, 49]

In [19]:
import random

li = [random.randint(0,50) for i in range(0,20)]

print(f"Original List : {li}")

for val in li:
    if val%2 == 0:
        li.remove(val)
print(f"Modified List :-  {li}")

Original List : [17, 13, 38, 16, 15, 23, 26, 26, 39, 0, 43, 28, 43, 20, 42, 27, 49, 39, 49, 12]
Modified List :-  [17, 13, 16, 15, 23, 26, 39, 43, 43, 42, 27, 49, 39, 49]

In [20]:
li = [random.randint(0,50) for i in range(0,20)]

print(f"Original List:- {li}")

for val in li:
    print(val,val%2)

Original List:- [39, 50, 34, 1, 29, 9, 10, 1, 50, 49, 21, 8, 37, 12, 27, 12, 1, 23, 20, 6]
39 1
50 0
34 0
1 1
29 1
9 1
10 0
1 1
50 0
49 1
21 1
8 0
37 1
12 0
27 1
12 0
1 1
23 1
20 0
6 0

In [22]:
print(f"original list:- {li}")

for val in li:
    if val % 2 == 0:
        print(val,val % 2)
        li.remove(val)

print(li)

original list:- [39, 50, 34, 1, 29, 9, 10, 1, 50, 49, 21, 8, 37, 12, 27, 12, 1, 23, 20, 6]
50 0
10 0
50 0
8 0
12 0
12 0
20 0
[39, 34, 1, 29, 9, 1, 49, 21, 37, 27, 1, 23, 6]

In [23]:
list(range(0,21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
li = [random.randint(0,50) for i in range(0,20)]
print(f'original List:- {li}')

for val in li:
    if val % 2 == 0:
        print(val,val % 2)
        li.remove(val)

print(li)

original List:- [47, 7, 24, 7, 13, 33, 42, 10, 50, 33, 13, 19, 40, 49, 35, 17, 16, 16, 6, 31]
24 0
42 0
50 0
40 0
16 0
6 0
[47, 7, 7, 13, 33, 10, 33, 13, 19, 49, 35, 17, 16, 31]

In [28]:
li =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(f"Original List:- {li}")
for val in li:
    if val% 2 == 0:
        li.remove(val)

print(f"Modified List :- {li}")

Original List:- [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Modified List :- [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
li =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 45, 25, 32]

print(f"Original List :- {li}")
for val in li:
    if val % 2 == 0:
        li.remove(val)
print(f"Modified List :- {li}")

Original List :- [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 45, 25, 32]
Modified List :- [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 45, 25]

In [32]:
if 38 % 2 ==0:
    print("Yes")

Yes

In [33]:
li = [1,1,1,2,3,4]
li

[1, 1, 1, 2, 3, 4]

In [34]:
li = [[1,2,3],5,6,7]
print(li)

li.remove([1,2,3])
print(li)

[[1, 2, 3], 5, 6, 7]
[5, 6, 7]

# 2. pop()

- syntax :- ListName.pop(index)
- default index = -1

In [35]:
li = ["Phy","Che","Math","Bio","Eng"]

print(f"Original List :- {li}")

li.pop()

print(f"Modified List :- {li}")

Original List :- ['Phy', 'Che', 'Math', 'Bio', 'Eng']
Modified List :- ['Phy', 'Che', 'Math', 'Bio']

In [37]:
li = ["Phy","Che","Math","Bio","Eng"]

print(f"Original List :- {li}")

print(li.pop(3))

print(f"Modified List :- {li}")

Original List :- ['Phy', 'Che', 'Math', 'Bio', 'Eng']
Bio
Modified List :- ['Phy', 'Che', 'Math', 'Eng']

In [38]:
li.pop("bio")

TypeError: 'str' object cannot be interpreted as an integer

In [39]:
li.pop(0)

'Phy'

In [40]:
li

['Che', 'Math', 'Eng']

In [47]:
li = ["Phy","Che","Math","Bio","Eng"]
li1 = ["Phy","Che","Math","Bio","Eng"]

cnt = 0

for i in li:
    if cnt % 2 == 0:
        li1.remove(li[cnt])
    
    cnt += 1
li1

['Che', 'Bio']

In [49]:
li = ["Phy","Che","Math","Bio","Eng"]
li1 = ["Che","Bio","Eng"]
cnt = 0
for i in li:                             
    if cnt % 2 == 0:
        li.remove(li[cnt])
        print(li)
    cnt += 1
li

['Che', 'Math', 'Bio', 'Eng']
['Che', 'Math', 'Eng']

['Che', 'Math', 'Eng']

In [51]:
li

['Phy', 'Che', 'Math', 'Bio', 'Eng']

In [50]:
li = ["Phy","Che","Math","Bio","Eng"]
li1 = ["Phy","Che","Math","Bio","Eng"]
cnt = 0
for i in li:
    if cnt % 2 == 0:
        li1.pop(cnt)
    cnt += 1
li1

IndexError: pop index out of range

In [52]:
li = [1,2,3,4]

li.pop(1)

2

In [53]:
li

[1, 3, 4]

# 3. clear()

In [ ]:
li = [1,2,3,4]
li.clear()
li

TypeError: list.clear() takes no arguments (1 given)

In [55]:
li

[]

# 4. del keyword

In [57]:
li = [1,2,3,4]

del li

li

NameError: name 'li' is not defined

In [58]:
a = 5
a

5

In [59]:
del a

In [60]:
a

NameError: name 'a' is not defined

In [62]:
str1 = "python"

del str1[0]

TypeError: 'str' object doesn't support item deletion

In [63]:
li = [1,2,3,4,5]
cnt = 0
while cnt < len(li):
    print(li[cnt])
    cnt += 1

1
2
3
4
5

In [64]:
cnt = 0

for i in li:
    print(li[cnt],i)
    cnt += 1

1 1
2 2
3 3
4 4
5 5

In [69]:
li = [1,2,3]

for i in li:

 li.append(1)

KeyboardInterrupt:

In [67]:
li

[1,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [70]:
li = [random.randint(0,50) for i in range(0,20)]
li

[0, 4, 10, 2, 18, 24, 43, 11, 41, 25, 34, 36, 3, 0, 41, 29, 25, 4, 22, 13]

In [71]:
list(range(4,7))

[4, 5, 6]

In [72]:
for i in range(4,7):
    del li[i]
li

[0, 4, 10, 2, 24, 11, 25, 34, 36, 3, 0, 41, 29, 25, 4, 22, 13]

In [73]:
li = [33,29,47,50,6,40,45]
li1 = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36]

In [75]:
del li[4]

li

[33, 29, 47, 50, 45]

In [77]:
del li1[6]

li

[33, 29, 47, 50, 45]

In [81]:
li = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]
li1 = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]
for i,j in enumerate(li):
    if i == 4 or i == 5 or i == 6:
        li1.remove(li[i])

li1

[33, 29, 47, 50, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]

In [82]:
li

[33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]

In [83]:
li = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]
li1 = li.copy()


for idx in sorted([4, 5, 6], reverse=True):
    del li1[idx]

print(li1)

[33, 29, 47, 50, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]

In [88]:
li = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]
li1 = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]
for i,j in enumerate(li):
    if i == 4 or i == 5 or i == 6:
        li1.pop(i)
li1

[33, 29, 47, 50, 40, 42, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]

In [89]:
li = [33, 29, 47, 50, 6, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]
li.pop(4)
li

[33, 29, 47, 50, 40, 3, 42, 43, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]

In [92]:
[33, 29, 47, 50, 40, 42, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23] == [33, 29, 47, 50, 40, 42, 37, 41, 33, 25, 7, 50, 21, 36, 18, 46, 23]

True

# 5. Sorting:

- 1. Ascending Order:

- ListName.sort()

In [93]:
numbers = [1,5,9,90,66,56,12,34,32,12,56,78]

print("original List :- ", numbers)

numbers.sort()

print("Sorted List :-", numbers)

original List :-  [1, 5, 9, 90, 66, 56, 12, 34, 32, 12, 56, 78]
Sorted List :- [1, 5, 9, 12, 12, 32, 34, 56, 56, 66, 78, 90]

In [94]:
Numbers = [1,5,9,90,66,56,12,34,32,12,56,78,55.5,45.5,12.5]
print("Original List",Numbers)
Numbers.sort()
print("Sorted List",Numbers)

Original List [1, 5, 9, 90, 66, 56, 12, 34, 32, 12, 56, 78, 55.5, 45.5, 12.5]
Sorted List [1, 5, 9, 12, 12, 12.5, 32, 34, 45.5, 55.5, 56, 56, 66, 78, 90]

In [95]:
Numbers = ["One","Three","Five","Six","Eight"]
print("Original List",Numbers)
Numbers.sort()
print("Sorted List",Numbers)

Original List ['One', 'Three', 'Five', 'Six', 'Eight']
Sorted List ['Eight', 'Five', 'One', 'Six', 'Three']

In [96]:
Numbers = [1,2,3,"One","Three","Five","Six","Eight"]
print("Original List",Numbers)
Numbers.sort()
print("Sorted List",Numbers)

Original List [1, 2, 3, 'One', 'Three', 'Five', 'Six', 'Eight']

TypeError: '<' not supported between instances of 'str' and 'int'

- 2. descending order:-

- ListName.sort(reverse=True)

In [97]:
Numbers = [1,5,9,90,66,56,12,34,32,12,56,78]
print("Original List",Numbers)
Numbers.sort(reverse=True)
print("Sorted List",Numbers)

Original List [1, 5, 9, 90, 66, 56, 12, 34, 32, 12, 56, 78]
Sorted List [90, 78, 66, 56, 56, 34, 32, 12, 12, 9, 5, 1]

In [98]:
[1,2,3][::-1]

[3, 2, 1]

In [99]:
 li = [1,2,3,8,7,6,5]
 li.sort()
 print(li)

[1, 2, 3, 5, 6, 7, 8]

In [103]:
li.sort()
print("reverse list :-", li[::-1]) # descending Order

reverse list :- [8, 7, 6, 5, 3, 2, 1]

# 3. sorted()

In [105]:
#3. Sorted()

Numbers = [1,2,3,4,4,3,4,55,33,65,34,55]

print("orginal list :- ", Numbers)
print("Sorted list :- ", sorted(Numbers))

orginal list :-  [1, 2, 3, 4, 4, 3, 4, 55, 33, 65, 34, 55]
Sorted list :-  [1, 2, 3, 3, 4, 4, 4, 33, 34, 55, 55, 65]

In [106]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

In [109]:
Numbers = [1,5,9,90,66,56,12,34,32,12,56,78]

print("Origianl List :- ",Numbers)
print("Sorted :-", sorted(Numbers))
print("Sorted list :- ", sorted(Numbers, reverse= True))

Origianl List :-  [1, 5, 9, 90, 66, 56, 12, 34, 32, 12, 56, 78]
Sorted :- [1, 5, 9, 12, 12, 32, 34, 56, 56, 66, 78, 90]
Sorted list :-  [90, 78, 66, 56, 56, 34, 32, 12, 12, 9, 5, 1]

# List Comprehension

* Syntax :- [expression for val/ele in ListName Condition]

In [110]:
li = [1,2,3,4,5,6]

sq = []
for i in li:
    sq.append(i **2)
sq

[1, 4, 9, 16, 25, 36]

In [112]:
li = [i ** 2 for i in li ]
li

[1, 16, 81, 256, 625, 1296]

In [114]:
li = [1,2,3,4,5,6]
li = [i ** 3 for i in li]
print(f"cube:- {li}")

cube:- [1, 8, 27, 64, 125, 216]

In [119]:
li = [1,2,3,5,6,7,8,9,10]

li_even = []
li_odd = []

for val in li:
    if val % 2 == 0:
        li_even.append(val)
    
    else:
        li_odd.append(val)


print("even:- ",li_even)
print("Odd:- ",li_odd)

even:-  [2, 6, 8, 10]
Odd:-  [1, 3, 5, 7, 9]

In [121]:
li = [1,2,3,5,6,7,8,9,10]

li_odd = [val for val in li if val % 2 != 0]
li_even = [val for val in li if val % 2 == 0]

print(f"even numbers:- {li_even}")
print(f"odd numbers :-{li_odd}")

even numbers:- [2, 6, 8, 10]
odd numbers :-[1, 3, 5, 7, 9]

In [122]:
li = [1,2,3,"Python","And","Data","Science"]

new_li = [str1.upper() for str1 in li if type(str1) == str]
new_li

['PYTHON', 'AND', 'DATA', 'SCIENCE']