#

In [23]:
person = {"name": "John", "age": 30}
for key in person:
    print(key, "->", person[key])

name -> John
age -> 30

In [24]:
person = {"name": "John", "age": 30}
for key in person:
    print(key)

name
age

In [25]:
for key, value in person.items():
    print(key, value)

name John
age 30

In [26]:
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [27]:
for i in range(2):
    for j in range(3):
        
        
            print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [28]:
for i in range(10):
    if i == 3:
        break
    print(i)

0
1
2

In [29]:
for i in range(10):
     print(i)
     if i == 3:
         break

0
1
2
3

# 2. continue Statement :

- Continue is used to stop only the current iteration, and continue with next iterations.

In [30]:
li = [1,2,3,4,5,6]
for i in li:
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [31]:
li = [1,2,"Python",4,5,6,"Data","Science",7,8,9]
Nli = []
for i in li:
    if type(i) == str:
        continue
    Nli.append(i)
Nli

[1, 2, 4, 5, 6, 7, 8, 9]

In [32]:
li = [1,2,"Python",4,5,6,"Data","Science",7,8,9]
Nli = []
for i in li:
    if type(i) == str:
        break
    Nli.append(i)
Nli

[1, 2]

# Pass Statement

- Used when there is nothing to perform.

In [33]:
for i in range(5):
    pass
    print(i)

0
1
2
3
4

In [34]:
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
li = [1,2,4,5,6,7,8,9]
for i in li:
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

# for - else

- Else block will be executed only when all the iteration of loop got completed.

In [36]:
for i in range(5):
    print(f"i -->{i}")

i -->0
i -->1
i -->2
i -->3
i -->4

In [37]:
for i in range(5):
    print(f"i --> {i}")
else:
    print("All iteration got completed")

i --> 0
i --> 1
i --> 2
i --> 3
i --> 4
All iteration got completed

In [38]:
for i in range(5):
    print(f"i --> {i}")
    if i == 3:
        break
else:
    print("All iterations got completed")

i --> 0
i --> 1
i --> 2
i --> 3

In [39]:
for i in range(5):
    print(f"i --> {i}")
    if i == 3:
        continue
else:
    print("All iterations got completed")

i --> 0
i --> 1
i --> 2
i --> 3
i --> 4
All iterations got completed

# Factorial :- 

- 3! = 3 * 2 * 1
- 4! = 4 * 3 * 2 * 1
- 5! = 5* 4* 3* 2* 1

In [40]:
# Factorial

for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for i in range(1,5+1):
    print(i)

1
2
3
4
5

In [42]:
for i in range(1, 10 +1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
print("factorial")
a = int(input())
for i in range(1,a+1):
    print(i)

factorial
1
2
3
4

In [44]:
print("factorial")
factorial = 0
a = int(input("Enter the number for factorial:- "))
for i in range(1,a+1):
    factorial *= i
    
factorial

factorial

0

In [45]:
print("factorial")
factorial = 1
a = int(input("Enter the number for factorial:- "))
for i in range(1,a+1):
    factorial *= i
print(f"Factorial of {a}:- ",factorial)

factorial

ValueError: invalid literal for int() with base 10: 'hh'

In [ ]:
print("factorial")
factorial = 1
a = int(input("Enter the number for factorial:- "))
for i in range(1,a+1):
    factorial *= i
print(f"Factorial of {a}:- ",factorial)

factorial
Factorial of 8:-  40320

In [ ]:
print("factorial")
factorial = 1
a = int(input("Enter the number for factorial:- "))
for i in range(1,a+1):
    factorial *= i
print(f"Factorial of {a}:- ",factorial)

factorial
Factorial of -4:-  1

# Nested For Loop

- For loop inside for loop

- for val1 in seq1:
        - statements
        - statements
        - statements
        - for val2 in seq2:
          - statements
          - statements
          - statements
          - for val3 in seq3:
            - statements
            - statements
            - statements

In [ ]:
for i in range(1,6):
               print(f"Iteration {i}")

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5

In [ ]:
for i in range(1,6):
               print(f"Iteration {i}")
               print("Python")

Iteration 1
Python
Iteration 2
Python
Iteration 3
Python
Iteration 4
Python
Iteration 5
Python

In [ ]:
for i in range(1,6):
    print(f"Outer Iteration {i}")
    for i in range(1,6):
        print(f"Inner Iteration {i}")
    print("*" * 20)

Outer Iteration 1
Inner Iteration 1
Inner Iteration 2
Inner Iteration 3
Inner Iteration 4
Inner Iteration 5
********************
Outer Iteration 2
Inner Iteration 1
Inner Iteration 2
Inner Iteration 3
Inner Iteration 4
Inner Iteration 5
********************
Outer Iteration 3
Inner Iteration 1
Inner Iteration 2
Inner Iteration 3
Inner Iteration 4
Inner Iteration 5
********************
Outer Iteration 4
Inner Iteration 1
Inner Iteration 2
Inner Iteration 3
Inner Iteration 4
Inner Iteration 5
********************
Outer Iteration 5
Inner Iteration 1
Inner Iteration 2
Inner Iteration 3
Inner Iteration 4
Inner Iteration 5
********************

In [ ]:
for i in range(1,3):
    print(f"Outer Iteration {i}")
    for i in range(1,6):
        print(f"inner Iteraation {i}")
    print("*" *20)

Outer Iteration 1
inner Iteraation 1
inner Iteraation 2
inner Iteraation 3
inner Iteraation 4
inner Iteraation 5
********************
Outer Iteration 2
inner Iteraation 1
inner Iteraation 2
inner Iteraation 3
inner Iteraation 4
inner Iteraation 5
********************

In [ ]:
for i in range(1,6):
    print(f"outer Iteration {i}")
    for i in range(1,6):
        print("Python")
    print("*"*20)

outer Iteration 1
Python
Python
Python
Python
Python
********************
outer Iteration 2
Python
Python
Python
Python
Python
********************
outer Iteration 3
Python
Python
Python
Python
Python
********************
outer Iteration 4
Python
Python
Python
Python
Python
********************
outer Iteration 5
Python
Python
Python
Python
Python
********************

In [ ]:
for i in range(1,6):
    print(f"Outer Iteration {i}")
    for i in range(1,3):
        print("Python")
    print("*"* 20)
    print()

Outer Iteration 1
Python
Python
********************

Outer Iteration 2
Python
Python
********************

Outer Iteration 3
Python
Python
********************

Outer Iteration 4
Python
Python
********************

Outer Iteration 5
Python
Python
********************

In [ ]:
for i in range(1,6):
    print(f"Outer Iteration {i}")
    for i in range(1,3):
        print("Python")
        for i in range(0,2):
            print("Data Science")
    print("*"*20)
    print()

Outer Iteration 1
Python
Data Science
Data Science
Python
Data Science
Data Science
********************

Outer Iteration 2
Python
Data Science
Data Science
Python
Data Science
Data Science
********************

Outer Iteration 3
Python
Data Science
Data Science
Python
Data Science
Data Science
********************

Outer Iteration 4
Python
Data Science
Data Science
Python
Data Science
Data Science
********************

Outer Iteration 5
Python
Data Science
Data Science
Python
Data Science
Data Science
********************

In [ ]:
for i in range(2):       # Outer loop: i = 0, 1
    for j in range(3):   # Inner loop: j = 0, 1, 2
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
]

for row in matrix:
    for val in row:
        print(val, end=" ")
    print()

1 2 3
4 5 6

In [46]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i * j, end="\t")
    print()

1	2	3
2	4	6
3	6	9

# Patterns :

In [12]:
for i in range (3):
    print(f"I => {i}")
    for j in range(2):
        print(f"*******")
    print()

I => 0
*******
*******

I => 1
*******
*******

I => 2
*******
*******

In [17]:
for i in range (3):
    print(f"I => {i}")
    for j in range(3):
        print("*******")
    print()

I => 0
*******
*******
*******

I => 1
*******
*******
*******

I => 2
*******
*******
*******

In [16]:
for i in range(3):
    print(f"I -> {i}")
    for j in range(3):
        print("*")
    print()

I -> 0
*
*
*

I -> 1
*
*
*

I -> 2
*
*
*

In [18]:
for i in range(4):
    print(i)
else:
    print("Loop completed.")

0
1
2
3
Loop completed.

In [19]:
for i in range(4):
    if i == 2:
        break
    print(i)
else:
    print("This won't print.")

0
1

In [27]:
for i in range(4):
    if i == 5 :
        print(i)
else:
    print("This won't print.")

This won't print.

# COPY FUNCTIONALITY:

- 1. EQUALS TO OPERATOR
- 2. SHALLOW COPY
- 3. DEEP COPY

# 1. Equala to operator

- By using = operator we are basically pointing towards the same memory location.

In [28]:
li = [1,2,3,4,5,6]
print(li)
li1 = li
print(li1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [29]:
li[0]= 100

In [30]:
li1

[100, 2, 3, 4, 5, 6]

In [31]:
a = 5
b = a

In [33]:
b = 500

In [34]:
a

5

In [35]:
b

500

In [36]:
li1 = [[1,2],3, 4, 5]
print(li1)
li2 = li1
print(li1)

[[1, 2], 3, 4, 5]
[[1, 2], 3, 4, 5]

In [37]:
li2[0].append(5)

In [38]:
li2

[[1, 2, 5], 3, 4, 5]

In [39]:
li1 = [[1,2],3,4,5]
print(li1)
li2 =li1
li3 = li1
print(li2)
print(li3)

[[1, 2], 3, 4, 5]
[[1, 2], 3, 4, 5]
[[1, 2], 3, 4, 5]

In [40]:
li3[0].append('Python')

In [41]:
li1

[[1, 2, 'Python'], 3, 4, 5]

In [42]:
li3

[[1, 2, 'Python'], 3, 4, 5]

In [43]:
li2

[[1, 2, 'Python'], 3, 4, 5]

# Shollow Copy:

- if we are manipulating single element then changes will not be reflecgted.
- But if there is a neasted list then changes will be reflected.

In [44]:
li1 = [1,2,3,4,5]
print(li1)
li2 = li1
print(li2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [45]:
id(li1)

2070092721536

In [46]:
id(li2)

2070092721536

In [47]:
li1 = [1,2,3,4,5]
print(li1)
li2 = li1.copy()
print(li2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [48]:
id(li1)

2070092643072

In [49]:
id(li2)

2070090585600

In [51]:
li1[0] = 1000
print(li1)
print(li2)

[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [52]:
id(li1)

2070092643072

In [53]:
id(li2)

2070090585600

In [55]:
li1 = [[1,2],3,4,5]
print(li1)
li2 = li1.copy()
print(li2)

[[1, 2], 3, 4, 5]
[[1, 2], 3, 4, 5]

In [56]:
li1[0][0] = 1000
print(li1)
li2 = li1.copy()
print(li2)

[[1000, 2], 3, 4, 5]
[[1000, 2], 3, 4, 5]

# Deep Copy

- Deep copy creates a new obj and recusively copies all nested objects inside the original.
- This means any changes made to the original Obj. or its nested structures

In [57]:
import copy

In [58]:
import copy
import inspect

print(inspect.getsourcefile(copy))

c:\Program Files\Python313\Lib\copy.py

In [59]:
print(inspect.getsource(copy.deepcopy))

def deepcopy(x, memo=None, _nil=[]):
    """Deep copy operation on arbitrary Python objects.

    See the module's __doc__ string for more info.
    """

    d = id(x)
    if memo is None:
        memo = {}
    else:
        y = memo.get(d, _nil)
        if y is not _nil:
            return y

    cls = type(x)

    copier = _deepcopy_dispatch.get(cls)
    if copier is not None:
        y = copier(x, memo)
    else:
        if issubclass(cls, type):
            y = _deepcopy_atomic(x, memo)
        else:
            copier = getattr(x, "__deepcopy__", None)
            if copier is not None:
                y = copier(memo)
            else:
                reductor = dispatch_table.get(cls)
                if reductor:
                    rv = reductor(x)
                else:
                    reductor = getattr(x, "__reduce_ex__", None)
                    if reductor is not None:
                        rv = reductor(4)
                    else:
                        reductor = getattr(x, "__reduce__", None)
                        if reductor:
                            rv = reductor()
                        else:
                            raise Error(
                                "un(deep)copyable object of type %s" % cls)
                if isinstance(rv, str):
                    y = x
                else:
                    y = _reconstruct(x, memo, *rv)

    # If is its own copy, don't memoize.
    if y is not x:
        memo[d] = y
        _keep_alive(x, memo) # Make sure x lives at least as long as d
    return y