In [12]:
# area of circle using list.
import math

radii = [2,3,4]

areas = [math.pi * (r ** 2) for r in radii]

print(f"Areas : {areas}")

Areas : [12.566370614359172, 28.274333882308138, 50.26548245743669]

In [14]:
#i. Input_list = [2,5,6,12] 
#ii. Output_list = [4,25,36,144] 

li1 = [2,5,6,12]

li2 = [i*i for i in li1]

print(li2)

[4, 25, 36, 144]

In [15]:
#largest element in list.

li1 = [4,25,36,144,2,5,6,12]

li2 = max(li1)

print(li2)

144

In [18]:
largest = li1[0]

for num in li1:
    if num > largest:
        largest = num
print(f"largest number :{largest}")

largest number :144

In [22]:
# multiply all the numbers in list.
li1 = [4,25,36,144,2,5,6,12]

multiply = 1
for i in li1:
    multiply *= i

print(multiply)

373248000

In [ ]:
even = []
for i in range(0,151):
    if i %2 == 0:
        even.append(i)
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

In [34]:
# 15. From a list containing ints, strings, and floats, make three lists to store them separately.

common_li = [1,2,4,5.5,5.8,6.2,6.5,"7","8","9","9.5",9.9,10]

fl_values = []
str_values = []
int_values = []

for i in common_li:
    if isinstance(i, float):
        fl_values.append(i)
    elif isinstance(i, int):
        int_values.append(i)
    else: 
        str_values.append(i)

In [35]:
print(fl_values)
print(str_values)
print(int_values)

[5.5, 5.8, 6.2, 6.5, 9.9]
['7', '8', '9', '9.5']
[1, 2, 4, 10]

In [13]:
class dogs:
    dog = "tommy"

In [14]:
d1v= dogs()

In [18]:
print(d1v.dog)

tommy

In [ ]:
class calcy:
    def __init__(self,a,b):
        self.a = "vishnu"
        self.b = "ameya"

        print()

_IncompleteInputError: incomplete input (2620507337.py, line 2)