# functions

In [2]:
n = int(input("Enter number"))
val = ".net"
for i in range(n):
    print(val)

Enter number 4

.net
.net
.net
.net

In [6]:
p = 20 
q = 30

fx = 3 * p + 4 *q
fx

180

# Functions :-
- Functions are an orgnized block of resuable code.
- Functions will execute only when it is called.
- Function are defined by the keyword.
- Function name should follow the identifier rule.
- def func_name() -> Define a function.
- func_name() -> call a function.

# Syntax :

def func_name(): # Defining a function 
    - statement - 1
    - statement - 2
    - statement - 3
    - statement - 4
        .
        .
    statement - n

func_name() # calling a function

In [14]:
def hello_world_function(): # Definition of hello_world_function
    print("Hello world using function")

In [18]:
hello_world_function()

Hello world using function

In [20]:
hello_world_function()

Hello world using function

In [22]:
hello_world_function()

Hello world using function

In [24]:
def hello_world_function(): # Definition of hello_world_function
    print("Hello World using function")
    print("We are in the hello world function")

In [26]:
hello_world_function()

Hello World using function
We are in the hello world function

In [28]:
hello_world_function()

Hello World using function
We are in the hello world function

In [34]:
def hello_world_function():
    print("Hello World using function.")
    print("We are in the hello world function.")
    print("*"*35)

In [36]:
hello_world_function()

Hello World using function.
We are in the hello world function.
***********************************

In [38]:
print("Hello World using function")
print("We are in the hello world function")
print("*"*35)
print("Hello World using function")
print("We are in the hello world function")
print("*"*35)
print("Hello World using function")
print("We are in the hello world function")
print("*"*35)
print("Hello World using function")
print("We are in the hello world function")
print("*"*35)

Hello World using function
We are in the hello world function
***********************************
Hello World using function
We are in the hello world function
***********************************
Hello World using function
We are in the hello world function
***********************************
Hello World using function
We are in the hello world function
***********************************

In [40]:
def Myfunc():
    print("Learning Functions.")

In [42]:
Myfunc()

Learning Functions.

In [44]:
def MyFunc(): # Definition of the function
    print("Learning Functions")

In [46]:
MyFunc()

Learning Functions

In [48]:
MyFunc()
MyFunc()
MyFunc()
MyFunc()
MyFunc()

Learning Functions
Learning Functions
Learning Functions
Learning Functions
Learning Functions

In [50]:
str1 = "Python And Data Science"
str1 = str1.lower()
print(f"Lower cased string {str1}")
li1 = str1.split()
print(f"Splited List {li1}")
print()
print()
str2 = "Machine Learning"
str2 = str2.lower()
print(f"Lower cased string {str2}")
li2 = str2.split()
print(f"Splited List {li2}")
print()
print()
str3 = "Natural Language Processing"
str3 = str3.lower()
print(f"Lower cased string {str3}")
li3 = str3.split()
print(f"Splited List {li3}")

Lower cased string python and data science
Splited List ['python', 'and', 'data', 'science']


Lower cased string machine learning
Splited List ['machine', 'learning']


Lower cased string natural language processing
Splited List ['natural', 'language', 'processing']

In [52]:
def SplitString():
    string = "Natural Language Processing"
    string = string.lower()
    print(f"Lower cased string :- {string}")
    li = string.split()
    print(f"Splited List :- {li}")
    
SplitString()

Lower cased string :- natural language processing
Splited List :- ['natural', 'language', 'processing']

In [56]:
def SplitString():
    string = "Natural Language Processing"
    string = string.lower()
    print(f"Lower cased string :- {string}")
    li = string.split()
    print(f"Splited List :- {li}")

SplitString()

Lower cased string :- natural language processing
Splited List :- ['natural', 'language', 'processing']

In [58]:
li = []
li.append(5)
li

[5]

In [62]:
def SplitString(string):
    string = string.lower()
    print(f"Lower cased string :- {string}")
    li = string.split()
    print(f"splited List:- {li}")


SplitString("Machine Learning")

Lower cased string :- machine learning
splited List:- ['machine', 'learning']

In [64]:
SplitString("Natural Language Processing.")

Lower cased string :- natural language processing.
splited List:- ['natural', 'language', 'processing.']

In [66]:
SplitString("Deep Learning.")

Lower cased string :- deep learning.
splited List:- ['deep', 'learning.']

In [68]:
SplitString("Artificial Intel")

Lower cased string :- artificial intel
splited List:- ['artificial', 'intel']

In [80]:
def SplitString(string):
    string = string.lower()
    print(f"Lower cased string :- {string}")
    li = string.split()
    print(f"Splited List :- {li}")
    print("*" *50)
    print()

str1 = "Machine Learning."
str2 = "Natural Language Processing"
str3 = "Deep Learning"
str4 = "Data Science"

SplitString(str1)
SplitString(str2)
SplitString(str3)
SplitString(str4)

Lower cased string :- machine learning.
Splited List :- ['machine', 'learning.']
**************************************************

Lower cased string :- natural language processing
Splited List :- ['natural', 'language', 'processing']
**************************************************

Lower cased string :- deep learning
Splited List :- ['deep', 'learning']
**************************************************

Lower cased string :- data science
Splited List :- ['data', 'science']
**************************************************

In [88]:
def SplitString(string):
    print(f"Lower Cased string :- {string.lower()}")
    print(f"Splited List :- {string.split()}")
    print(f"Join str :- {''.join(string.split())}")
    print("*" * 40)
    print()

str1 = "Machine Learning"
str2 = "Natural Language Processing"
str3 = "Deep Learning"
str4 = "Data Science"

SplitString(str1)
SplitString(str2)
SplitString(str3)
SplitString(str4)

Lower Cased string :- machine learning
Splited List :- ['Machine', 'Learning']
Join str :- MachineLearning
****************************************

Lower Cased string :- natural language processing
Splited List :- ['Natural', 'Language', 'Processing']
Join str :- NaturalLanguageProcessing
****************************************

Lower Cased string :- deep learning
Splited List :- ['Deep', 'Learning']
Join str :- DeepLearning
****************************************

Lower Cased string :- data science
Splited List :- ['Data', 'Science']
Join str :- DataScience
****************************************

def func(param1, padram2):
    print("Logic")

funct(arg1, arg2) #Number of arguments
Number of parameters

In [90]:
def SplitString(sttring):
    print(f"Lower cased string : {string.lower()}")
    print(f"Slited List :- {string.split()}")
    print(f"joined str :- {''.join(string.split())})
    print("*" * 60)


str1 = "Machine Learning."
str2 = "Vishnu Kulkarni."
str3 = "Ameay Joshi."
str4 = "Python Coding."


SplitString(str1, str2)

SyntaxError: unterminated f-string literal (detected at line 4) (4121021231.py, line 4)

In [92]:
SplitString(str1)
SplitString(str2)
SplitString(str3)
SplitString(str4)

Lower Cased string :- machine learning
Splited List :- ['Machine', 'Learning']
Join str :- MachineLearning
****************************************

Lower Cased string :- natural language processing
Splited List :- ['Natural', 'Language', 'Processing']
Join str :- NaturalLanguageProcessing
****************************************

Lower Cased string :- deep learning
Splited List :- ['Deep', 'Learning']
Join str :- DeepLearning
****************************************

Lower Cased string :- data science
Splited List :- ['Data', 'Science']
Join str :- DataScience
****************************************

In [108]:
def SplitString(sttring, strn):
    print(f"Lower cased string : {string.lower()}")
    print(f"Slited List :- {string.split()}")
    print(f"joined str :- {''.join(string.split())})
    print("*" * 60)


str1 = "Machine Learning."
str2 = "Vishnu Kulkarni."
str3 = "Ameay Joshi."
str4 = "Python Coding."


SplitString(str1,2)

SyntaxError: unterminated f-string literal (detected at line 4) (1942320412.py, line 4)

In [110]:
def SplitString(string,strn):
    print(f"Lower cased string :- {string.lower()}")
    print(f"Splited List :- {string.split()}")
    print(f"Joined str :- {''.join(string.split())}")
    print(f"String n value :- {strn}")
    print("*"*35)


str1 = "Machine Learning"
str2 = "Natural Language Processing"
str3 = "Deep Learning"
str4 = "Data Science"
    

SplitString(str1,2)

Lower cased string :- machine learning
Splited List :- ['Machine', 'Learning']
Joined str :- MachineLearning
String n value 2
***********************************

In [112]:
def example(a,b):
    print(f"a -> {a} and b -> {b}")
    
example("Python",5)

a -> Python and b -> 5

In [118]:
def example(a,b):
    print(f"a -> {a} and b -> {b}")

In [120]:
example("Python", 5)

a -> Python and b -> 5

In [128]:
def NumofPrintStatement(num):
    print(f"The total number of itrations --> {num}")
    for i in range(num):
        print(f"Iteration {i}\nWe are learning Python Function.")
        print()

In [134]:
NumofPrintStatement(3)

The total number of itrations --> 3
Iteration 0
We are learning Python Function.

Iteration 1
We are learning Python Function.

Iteration 2
We are learning Python Function.

In [142]:
def NumofPrintStatement(num):
    print(f"The total number of itrations --> {num}")
    for i in range(num):
        print(f"Iteration {i}\nWe are learning Machine Learning.")
        print()

NumofPrintStatement(5)

The total number of itrations --> 5
Iteration 0
We are learning Machine Learning.

Iteration 1
We are learning Machine Learning.

Iteration 2
We are learning Machine Learning.

Iteration 3
We are learning Machine Learning.

Iteration 4
We are learning Machine Learning.

In [146]:
def Max(li):
    print(f"The maximum of the list --> {max(li)}")
Max([1,2,3,4,5])
Max([10,20,30,40,50])
Max([1000,3939,3421,3311,111])

The maximum of the list --> 5
The maximum of the list --> 50
The maximum of the list --> 3939

In [154]:
pip --version

pip 24.2 from C:\Users\Vishnu\anaconda3\Lib\site-packages\pip (python 3.12)

Note: you may need to restart the kernel to use updated packages.

In [156]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5589 sha256=ae2ae8a9d4a963ce325aff236a8723d2493544b52ad98efb6af472ff015615a8
  Stored in directory: c:\users\vishnu\appdata\local\pip\cache\wheels\5b\79\fb\d25928e599c7e11fe4e00d32048cd74933f34a74c633d2aea6
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

In [186]:
from word2number import w2n

num1 = w2n.word_to_num(input("Enter Number in alphabate :- "))
num2 = w2n.word_to_num(input("Enter Number in alphabate :- "))
num3 = w2n.word_to_num(input("Enter Number in alphabate :- "))
print(num1)
print(num2)
print(num3)

Enter Number in alphabate :-  three million
Enter Number in alphabate :-  five hundred
Enter Number in alphabate :-  sixty

3000000
500
60

In [ ]:
import re

num_words = {
    "zero": 0,
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "ten": 10,
    "eleven": 11,
    "twelve": 12,
    "thirteen": 13,
    "fourteen": 14,
    "fifteen": 15,
    "sixteen": 16,
    "seventeen": 17,
    "eighteen": 18,
    "nineteen": 19,
    "twenty": 20,
    "thirty": 30,
    "forty": 40,
    "fifty": 50,
    "sixty": 60,
    "seventy": 70,
    "eighty": 80,
    "ninety": 90,
    "hundred": 100,
    "thousand": 1_000,
    "million": 1_000_000,
    "billion": 1_000_000_000
}

def word_to_number(string):
    words = s.lower().split()
    result = 0
    current = 0

    for chr

In [256]:
str1= input("Enter the Number in String : ")
words = str1.lower().split()
units = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "ten" : 10,
    "twenty" : 20,
    "thirty" : 30,
    "fourty" : 40,
    "fifty" : 50,
    "sixty" : 60,
    "seventy" : 70,
    "eighty" : 80,
    "ninty" : 90
}
multiplies = {
 
    "hundred" : 100,
    "thousand" : 1000,
    "million" : 1000000,
    "billion" : 1000000000
}
cnt = 0
num =0

for word in words:
    if word in units:
        cnt += units[word]
    elif word in multiplies:
        cnt *= multiplies[word]
        num += cnt
        cnt = 0
num += cnt

print(f"your entered number :- {num}")

Enter the Number in String :  ninty five

your entered number :- 95

In [3]:
def NumOfPrintStatements(num):
    print(f"The Total number of iterations --> {num}")
    for i in range(num):
        print(f"Iteration {i},\nWe are learning Python function")
        print()

In [5]:
NumOfPrintStatements(3)

The Total number of iterations --> 3
Iteration 0,
We are learning Python function

Iteration 1,
We are learning Python function

Iteration 2,
We are learning Python function

In [9]:
def NumOfPrintStatements(num):
    print(f"the total number of iterations --> {num}")
    for i in range(num):
        print(f"Iteration - {i}")

In [11]:
NumOfPrintStatements(3)

the total number of iterations --> 3
Iteration - 0
Iteration - 1
Iteration - 2

In [13]:
def Min(li):
    print(f"The minimum of the list --> {min(li)}")

Min([1,2,3,4,5])
Min([10,20,30,40,50])
Min([100,200,300,400,500])

The minimum of the list --> 1
The minimum of the list --> 10
The minimum of the list --> 100

In [23]:
def Max(li):
    print(f"The maximum of the list --> {(li)}- {max(li)}")

Max([1,2,3,4,5])
Max([10,20,30,40,50])
Max([100,200,300,400,500])

The maximum of the list --> [1, 2, 3, 4, 5]- 5
The maximum of the list --> [10, 20, 30, 40, 50]- 50
The maximum of the list --> [100, 200, 300, 400, 500]- 500

In [25]:
def Sum(li):
    print(f"The sum of the list --> {sum(li)}")

In [27]:
Sum([1,2,3,4,5])
Sum([10,20,30,40,50])
Sum([100,200,300,400,500])

The sum of the list --> 15
The sum of the list --> 150
The sum of the list --> 1500

In [31]:
a = 10
b = 20

print(f"a = {a}, b = {b}")

avg = (a + b) / 2
print(f"The average of Num :- {avg}")

a = 10, b = 20
The average of Num :- 15.0

In [35]:
def avg(a,b):
    print(f"a = {a}, b = {b}")
    avg1 = (a+b) / 2
    print(f"The average of num :- {avg1}")


avg(10,20)
avg(100, 200)
avg(1000, 2000)

a = 10, b = 20
The average of num :- 15.0
a = 100, b = 200
The average of num :- 150.0
a = 1000, b = 2000
The average of num :- 1500.0

In [37]:
li = list(range(1, 151))
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]

In [41]:
num = list(range(1, 151))
odd_li = []
even_li = []
for i in num:
    if i % 2 == 0:
        even_li.append(i)
    else:
        odd_li.append(i)

print(f"Even List : - {even_li}")
print()
print(f"Odd List :- {odd_li}")

Even List : - [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

Odd List :- [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149]

In [6]:
def IsEvenOrOdd(num):
    li1 = [i for i in num if i % 2 == 0]
    li2 = [i for i in num if i % 2 != 0]
    print("Even", li1)
    print("Odd", li2)
    print()

num1 = [1,7,8,4,5,6,7]
num2 = [22,66,77,88]
num3 = [454,556,332,444,565,678]

IsEvenOrOdd(num1)
IsEvenOrOdd(num2)
IsEvenOrOdd(num3)

Even [8, 4, 6]
Odd [1, 7, 5, 7]

Even [22, 66, 88]
Odd [77]

Even [454, 556, 332, 444, 678]
Odd [565]

In [8]:
IsEvenOrOdd([num1,num2,num3])

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [28]:
def isevenorodd(num1):
    for num in num1:
        li1 = [i for i in num if i % 2 == 0]
        li2 = [i for i in num if i % 2 != 0]
        print("Even",li1)
        print("Odd",li2)
        print()
    
    
num1 = [1,7,8,4,5,6,7]
num2 = [22,66,77,88]
num3 = [454,556,332,444,565,678]
isevenorodd([num1,num2,num3])

Even [8, 4, 6]
Odd [1, 7, 5, 7]

Even [22, 66, 88]
Odd [77]

Even [454, 556, 332, 444, 678]
Odd [565]

In [32]:
def gen_list(num):
    li = []
    for i in range(num):
        a = int(input("Enter list element :- "))
        li.append(a)
    print(li)

number = int(input("How many number you want from user :-"))
gen_list(number)