# Square Numbers
- Given a list of numbers, use map to create a new list of their squares.
- Input: [1, 2, 3, 4, 5] → Output: [1, 4, 9, 16, 25]

In [1]:
num = [1,2,3,4,5]

square = list(map(lambda x: x **2, num))

print(square)

[1, 4, 9, 16, 25]

In [3]:
num = [5,10,15,20]

AddEachTen = list(map(lambda x : x + 10, num))

print(AddEachTen)

[15, 20, 25, 30]

In [4]:
str1 = ['1', '2', '3']

StrtoNum = list(map(lambda x : int(x), str1))

print(StrtoNum)

[1, 2, 3]

In [5]:
names = ['alice', 'bob', 'charlie']

cap_names = list(map(lambda x : x.capitalize(), names))

print(cap_names)

['Alice', 'Bob', 'Charlie']

In [7]:
temp = [0, 20, 100]

fahrenheit = list(map(lambda x : (x * 9/5) + 32 , temp))

print(fahrenheit)

[32.0, 68.0, 212.0]

In [21]:
names = ['Ameya', 'Vishnu']

AddPrefix = list(map(lambda x : "Mr." + x, names))

print(AddPrefix)

['Mr.Ameya', 'Mr.Vishnu']

In [6]:
price = [100, 200, 500]

gst = list(map(lambda x : x + (x * 18)/100,price))
ngst = list(map(lambda x : x - (x * 18)/100,price))
print("GST included Price -",gst)
print("GST not included Price -",ngst)

GST included Price - [118.0, 236.0, 590.0]
GST not included Price - [82.0, 164.0, 410.0]

In [11]:
num = [100,200]

currency = list(map(lambda x : f'₹{x:.2f}',num))

print(currency)

['₹100.00', '₹200.00']

In [19]:
rupee = '\u20b9'
rupee

'₹'

In [36]:
fname = ['John', 'Jane']
lname = ['Doe', 'Smith']

fullname = list(map( lambda x : " ".join(x), zip(fname,lname)))

print(fullname)

['John Doe', 'Jane Smith']

In [38]:
j = list(zip(fname,lname))

print(j)

[('John', 'Doe'), ('Jane', 'Smith')]

In [39]:
numbers = [1, 23, 456]

padded = list(map( lambda x: str(x).zfill(5),numbers))

print(padded)

['00001', '00023', '00456']

In [45]:
fname = ['file1', 'file2']

fileName = list(map(lambda x : x  +'.txt', fname))

print(fileName)

['file1.txt', 'file2.txt']

In [46]:
greet = ['hello!', '!wow!'] 

clean = list(map(lambda x : x.replace('!',""),greet))

print(clean)

['hello', 'wow']

In [47]:
fruits = ['apple', 'banana', 'cherry', 'fig']

filfruits = list(filter(lambda x : len(x) >= 5, fruits))

print(filfruits)

['apple', 'banana', 'cherry']

In [49]:
li1 = ['apple', '', 'banana', '', 'cherry']

filli1 = list(filter(lambda x : len(x) > 0, li1))

print(filli1)

['apple', 'banana', 'cherry']

In [50]:
filli1 = list(filter(lambda x : x != '', li1))

print(filli1)

['apple', 'banana', 'cherry']

In [53]:
age = [12, 17, 18, 20, 25]

adults = list(filter(lambda x : x >= 18, age))

print(adults)

[18, 20, 25]

In [55]:
num = [-2, -1, 0, 1, 2]

positive_num = list(filter(lambda x : x >= 0, num))

print(positive_num)

[0, 1, 2]

In [56]:
num1 = [1, 2, 3, 4, 5, 6] 

even = list(filter(lambda x : x % 2 == 0, num1))

print(even)

[2, 4, 6]

In [57]:
odd = list(filter(lambda x : x % 2 != 0, num1))

print(odd)

[1, 3, 5]

In [65]:
li2 = [1, None, 2, None, 3]

nonnull = list(filter(lambda x : x is not None, li2))

print(nonnull)

[1, 2, 3]

In [ ]:

num3 = [0,1,2, 3, 4, 5, 6, 7, 8, 9]

prime = list(filter(lambda x : (x ** 0.5)+1, num3))

print(prime)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n **0.5) + 1):
        if n % i == 0:
            return False
    return True

num3 = [0,1,2, 3, 4, 5, 6, 7, 8, 9]

primes = list(filter(is_prime, num3))

print(primes)

[2, 3, 5, 7]

In [9]:
primes = list(filter(lambda x : x > 1 and all(x % i != 0 for i in range(2, int(x**0.5)+1)),num3))

print(primes)

[2, 3, 5, 7]

In [89]:
words = ['madam', 'racecar', 'apple', 'level','banana']

palindromic = list(filter(lambda x : x == x[::-1], words))

print(palindromic)

['madam', 'racecar', 'level']

In [96]:
files = ['file1.txt', 'file2.csv', 'file3.txt']

onlyTxtfile = list(filter(lambda x : x.endswith('.txt'), files))

print(onlyTxtfile)

['file1.txt', 'file3.txt']

## Zip()

In [98]:
name = ['Alice', 'Bob'] 
age = [25, 30] 

merged = list(zip(name, age))

print(merged)

[('Alice', 25), ('Bob', 30)]

In [99]:
sub = ['Math', 'Science'] 
marks = [90, 95]

score = dict(zip(sub,marks))

print(score)

{'Math': 90, 'Science': 95}

In [103]:
arr = [[1, 2, 3], [4, 5, 6]]

transpose = list(zip(*arr))

print(transpose)

[(1, 4), (2, 5), (3, 6)]

In [104]:
id = [1, 2]
name = ['Alice', 'Bob']
mail = ['a@example.com', 'b@example.com']

emp_details = list(zip(id,name,mail))

print(emp_details)

[(1, 'Alice', 'a@example.com'), (2, 'Bob', 'b@example.com')]

In [113]:
l1 = [1,2,3]
l2 = [4,5,6]

addli = list(x + y for x , y in zip(l1 , l2))

print(addli)

[5, 7, 9]

In [121]:
li1 = [1,4,3]
li2 = [2,2,5]

maximum = list(max(x, y) for x , y in zip(li1 , li2))

print(maximum)

[2, 4, 5]

In [135]:
emp_detail = [('Alice', 25), ('Bob', 30)]

name , age  = zip(*emp_detail)

print(list(name))
print(list(age))

['Alice', 'Bob']
[25, 30]