# Pandas Function

In [47]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Vishnu\Desktop\RESTART\csv\organizations-100.csv")
df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0
4,5.0,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0
...,...,...,...,...,...,...,...,...,...
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.index

RangeIndex(start=0, stop=92, step=1)

In [49]:
df.describe()

           Index      Founded  Number of employees
count  40.000000    40.000000            40.000000
mean   20.500000  1998.175000          5135.675000
std    11.690452    15.380453          2809.181288
min     1.000000  1970.000000           365.000000
25%    10.750000  1990.000000          3057.000000
50%    20.500000  1997.500000          4946.500000
75%    30.250000  2012.250000          7706.000000
max    40.000000  2021.000000          9995.000000

In [50]:
df.columns

Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')

In [51]:
 df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0
4,5.0,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0

In [52]:
df.head(2)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0

In [53]:
df.tail()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df.tail(2)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df[:2]

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0

In [56]:
df[5:15]

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
5,6.0,cC757116fe1C085,Henry-Thompson,http://morse.net/,Bahamas,Face-to-face well-modulated customer loyalty,1992.0,Primary / Secondary Education,4914.0
6,7.0,219233e8aFF1BC3,Hansen-Everett,https://www.kidd.org/,Pakistan,Seamless disintermediate collaboration,2018.0,Publishing Industry,7832.0
7,8.0,ccc93DCF81a31CD,Mcintosh-Mora,https://www.brooks.com/,Heard Island and McDonald Islands,Centralized attitude-oriented capability,1970.0,Import / Export,4389.0
8,9.0,0B4F93aA06ED03e,Carr Inc,http://ross.com/,Kuwait,Distributed impactful customer loyalty,1996.0,Plastics,8167.0
9,10.0,738b5aDe6B1C6A5,Gaines Inc,http://sandoval-hooper.com/,Uzbekistan,Multi-lateral scalable protocol,1997.0,Outsourcing / Offshoring,9698.0
10,11.0,AE61b8Ffebbc476,Kidd Group,http://www.lyons.com/,Bouvet Island (Bouvetoya),Proactive foreground paradigm,2001.0,Primary / Secondary Education,7473.0
11,12.0,eb3B7D06cCdD609,Crane-Clarke,https://www.sandoval.com/,Denmark,Front-line clear-thinking encryption,2014.0,Food / Beverages,9011.0
12,13.0,8D0c29189C9798B,"Keller, Campos and Black",https://www.garner.info/,Liberia,Ameliorated directional emulation,2020.0,Museums / Institutions,2862.0
13,14.0,D2c91cc03CA394c,Glover-Pope,http://www.silva.biz/,United Arab Emirates,Persevering contextually-based approach,2013.0,Medical Practice,9079.0
14,15.0,C8AC1eaf9C036F4,Pacheco-Spears,https://aguilar.com/,Sweden,Secured logistical synergy,1984.0,Maritime,769.0

In [57]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [58]:
df.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91]
Length: 92, dtype: int64

In [59]:
df.index.tuple

AttributeError: 'RangeIndex' object has no attribute 'tuple'

In [88]:
df.to_numpy()

array([[1.0, 'FAB0d41d5b5d22c', 'Ferrell LLC', 'https://price.net/',
        'Papua New Guinea', 'Horizontal empowering knowledgebase',
        1990.0, 'Plastics', 3498.0],
       [2.0, '6A7EdDEA9FaDC52', 'Mckinney, Riley and Day',
        'http://www.hall-buchanan.info/', 'Finland',
        'User-centric system-worthy leverage', 2015.0,
        'Glass / Ceramics / Concrete', 4952.0],
       [3.0, '0bFED1ADAE4bcC1', 'Hester Ltd',
        'http://sullivan-reed.com/', 'China',
        'Switchable scalable moratorium', 1971.0, 'Public Safety',
        5287.0],
       [4.0, '2bFC1Be8a4ce42f', 'Holder-Sellers', 'https://becker.com/',
        'Turkmenistan', 'De-engineered systemic artificial intelligence',
        2004.0, 'Automotive', 921.0],
       [5.0, '9eE8A6a4Eb96C24', 'Mayer Group', 'http://www.brewer.com/',
        'Mauritius', 'Synchronized needs-based challenge', 1991.0,
        'Transportation', 7870.0],
       [6.0, 'cC757116fe1C085', 'Henry-Thompson', 'http://morse.net/',
        'Bahamas', 'Face-to-face well-modulated customer loyalty',
        1992.0, 'Primary / Secondary Education', 4914.0],
       [7.0, '219233e8aFF1BC3', 'Hansen-Everett',
        'https://www.kidd.org/', 'Pakistan',
        'Seamless disintermediate collaboration', 2018.0,
        'Publishing Industry', 7832.0],
       [8.0, 'ccc93DCF81a31CD', 'Mcintosh-Mora',
        'https://www.brooks.com/', 'Heard Island and McDonald Islands',
        'Centralized attitude-oriented capability', 1970.0,
        'Import / Export', 4389.0],
       [9.0, '0B4F93aA06ED03e', 'Carr Inc', 'http://ross.com/', 'Kuwait',
        'Distributed impactful customer loyalty', 1996.0, 'Plastics',
        8167.0],
       [10.0, '738b5aDe6B1C6A5', 'Gaines Inc',
        'http://sandoval-hooper.com/', 'Uzbekistan',
        'Multi-lateral scalable protocol', 1997.0,
        'Outsourcing / Offshoring', 9698.0],
       [11.0, 'AE61b8Ffebbc476', 'Kidd Group', 'http://www.lyons.com/',
        'Bouvet Island (Bouvetoya)', 'Proactive foreground paradigm',
        2001.0, 'Primary / Secondary Education', 7473.0],
       [12.0, 'eb3B7D06cCdD609', 'Crane-Clarke',
        'https://www.sandoval.com/', 'Denmark',
        'Front-line clear-thinking encryption', 2014.0,
        'Food / Beverages', 9011.0],
       [13.0, '8D0c29189C9798B', 'Keller, Campos and Black',
        'https://www.garner.info/', 'Liberia',
        'Ameliorated directional emulation', 2020.0,
        'Museums / Institutions', 2862.0],
       [14.0, 'D2c91cc03CA394c', 'Glover-Pope', 'http://www.silva.biz/',
        'United Arab Emirates',
        'Persevering contextually-based approach', 2013.0,
        'Medical Practice', 9079.0],
       [15.0, 'C8AC1eaf9C036F4', 'Pacheco-Spears',
        'https://aguilar.com/', 'Sweden', 'Secured logistical synergy',
        1984.0, 'Maritime', 769.0],
       [16.0, 'b5D10A14f7a8AfE', 'Hodge-Ayers',
        'http://www.archer-elliott.com/', 'Honduras',
        'Future-proofed radical implementation', 1990.0,
        'Facilities Services', 8508.0],
       [17.0, '68139b5C4De03B4', 'Bowers, Guerra and Krause',
        'http://www.carrillo-nicholson.com/', 'Uganda',
        'De-engineered transitional strategy', 1972.0,
        'Primary / Secondary Education', 6986.0],
       [18.0, '5c2EffEfdba2BdF', 'Mckenzie-Melton',
        'http://montoya-thompson.com/', 'Hong Kong',
        'Reverse-engineered heuristic alliance', 1998.0,
        'Investment Management / Hedge Fund / Private Equity', 4589.0],
       [19.0, 'ba179F19F7925f5', 'Branch-Mann', 'http://www.lozano.com/',
        'Botswana', 'Adaptive intangible frame', 1999.0,
        'Architecture / Planning', 7961.0],
       [20.0, 'c1Ce9B350BAc66b', 'Weiss and Sons',
        'https://barrett.com/', 'Korea',
        'Sharable optimal functionalities', 2011.0, 'Plastics', 5984.0],
       [21.0, '8de40AC4e6EaCa4', 'Velez, Payne and Coffey',
        'http://burton.com/', 'Luxembourg', 'Mandatory coherent synergy',
        1986.0, 'Wholesale', 5010.0],
       [22.0, 'Aad86a4F0385F2d', 'Harrell LLC',
        'http://www.frey-rosario.com/', 'Guadeloupe',
        'Reverse-engineered mission-critical moratorium', 2018.0,
        'Construction', 2185.0],
       [23.0, '22aC3FFd64fD703', 'Eaton, Reynolds and Vargas',
        'http://www.freeman.biz/', 'Monaco',
        'Self-enabling multi-tasking process improvement', 2014.0,
        'Luxury Goods / Jewelry', 8987.0],
       [24.0, '5Ec4C272bCf085c', 'Robbins-Cummings',
        'http://donaldson-wilkins.com/', 'Belgium',
        'Organic non-volatile hierarchy', 1991.0, 'Pharmaceuticals',
        5038.0],
       [25.0, '5fDBeA8BB91a000', 'Jenkins Inc', 'http://www.kirk.biz/',
        'South Africa', 'Front-line systematic help-desk', 2002.0,
        'Insurance', 1215.0],
       [26.0, 'dFfD6a6F9AC2d9C', 'Greene, Benjamin and Novak',
        'http://www.kent.net/', 'Romania',
        'Centralized leadingedge moratorium', 2012.0,
        'Museums / Institutions', 4941.0],
       [27.0, '4B217cC5a0674C5', 'Dickson, Richmond and Clay',
        'http://everett.com/', 'Czech Republic',
        'Team-oriented tangible complexity', 1980.0,
        'Real Estate / Mortgage', 3122.0],
       [28.0, '88b1f1cDcf59a37', 'Prince-David', 'http://thompson.com/',
        'Christmas Island', 'Virtual holistic methodology', 1970.0,
        'Banking / Mortgage', 1046.0],
       [29.0, 'f9F7bBCAEeC360F', 'Ayala LLC', 'http://www.zhang.com/',
        'Philippines', 'Open-source zero administration hierarchy',
        2021.0, 'Legal Services', 7664.0],
       [30.0, '7Cb3AeFcE4Ba31e', 'Rivas Group', 'https://hebert.org/',
        'Australia', 'Open-architected well-modulated capacity', 1998.0,
        'Logistics / Procurement', 4155.0],
       [31.0, 'ccBcC32adcbc530', 'Sloan, Mays and Whitehead',
        'http://lawson.com/', 'Chad',
        'Face-to-face high-level conglomeration', 1997.0,
        'Civil Engineering', 365.0],
       [32.0, 'f5afd686b3d05F5', 'Durham, Allen and Barnes',
        'http://chan-stafford.org/', 'Zimbabwe',
        'Synergistic web-enabled framework', 1993.0,
        'Mechanical or Industrial Engineering', 6135.0],
       [33.0, '38C6cfC5074Fa5e', 'Fritz-Franklin',
        'http://www.lambert.com/', 'Nepal',
        'Automated 4thgeneration website', 1972.0, 'Hospitality', 4516.0],
       [34.0, '5Cd7efccCcba38f', 'Burch-Ewing', 'http://cline.net/',
        'Taiwan', 'User-centric 4thgeneration system engine', 1981.0,
        'Venture Capital / VC', 7443.0],
       [35.0, '9E6Acb51e3F9d6F', 'Glass, Barrera and Turner',
        'https://dunlap.com/', 'Kyrgyz Republic',
        'Multi-channeled 3rdgeneration open system', 2020.0, 'Utilities',
        2610.0],
       [36.0, '4D4d7E18321eaeC', 'Pineda-Cox', 'http://aguilar.org/',
        'Bolivia', 'Fundamental asynchronous capability', 2010.0,
        'Human Resources / HR', 1312.0],
       [37.0, '485f5d06B938F2b', 'Baker, Mccann and Macdonald',
        'http://www.anderson-barker.com/', 'Kenya',
        'Cross-group user-facing focus group', 2013.0,
        'Legislative Office', 1638.0],
       [38.0, '19E3a5Bf6dBDc4F', 'Cuevas-Moss',
        'https://dodson-castaneda.net/', 'Guatemala',
        'Extended human-resource intranet', 1994.0, 'Music', 9995.0],
       [39.0, '6883A965c7b68F7', 'Hahn PLC', 'http://newman.com/',
        'Belarus', 'Organic logistical leverage', 2012.0,
        'Electrical / Electronic Manufacturing', 3715.0],
       [40.0, 'AC5B7AA74Aa4A2E', 'Valentine, Ferguson and Kramer',
        'http://stuart.net/', 'Jersey',
        'Centralized secondary time-frame', 1997.0,
        'Non - Profit / Volunteering', 3585.0],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan]], dtype=object)

In [90]:
import numpy as np

In [91]:
df_arr = np.array(df)
df_arr

array([[1.0, 'FAB0d41d5b5d22c', 'Ferrell LLC', 'https://price.net/',
        'Papua New Guinea', 'Horizontal empowering knowledgebase',
        1990.0, 'Plastics', 3498.0],
       [2.0, '6A7EdDEA9FaDC52', 'Mckinney, Riley and Day',
        'http://www.hall-buchanan.info/', 'Finland',
        'User-centric system-worthy leverage', 2015.0,
        'Glass / Ceramics / Concrete', 4952.0],
       [3.0, '0bFED1ADAE4bcC1', 'Hester Ltd',
        'http://sullivan-reed.com/', 'China',
        'Switchable scalable moratorium', 1971.0, 'Public Safety',
        5287.0],
       [4.0, '2bFC1Be8a4ce42f', 'Holder-Sellers', 'https://becker.com/',
        'Turkmenistan', 'De-engineered systemic artificial intelligence',
        2004.0, 'Automotive', 921.0],
       [5.0, '9eE8A6a4Eb96C24', 'Mayer Group', 'http://www.brewer.com/',
        'Mauritius', 'Synchronized needs-based challenge', 1991.0,
        'Transportation', 7870.0],
       [6.0, 'cC757116fe1C085', 'Henry-Thompson', 'http://morse.net/',
        'Bahamas', 'Face-to-face well-modulated customer loyalty',
        1992.0, 'Primary / Secondary Education', 4914.0],
       [7.0, '219233e8aFF1BC3', 'Hansen-Everett',
        'https://www.kidd.org/', 'Pakistan',
        'Seamless disintermediate collaboration', 2018.0,
        'Publishing Industry', 7832.0],
       [8.0, 'ccc93DCF81a31CD', 'Mcintosh-Mora',
        'https://www.brooks.com/', 'Heard Island and McDonald Islands',
        'Centralized attitude-oriented capability', 1970.0,
        'Import / Export', 4389.0],
       [9.0, '0B4F93aA06ED03e', 'Carr Inc', 'http://ross.com/', 'Kuwait',
        'Distributed impactful customer loyalty', 1996.0, 'Plastics',
        8167.0],
       [10.0, '738b5aDe6B1C6A5', 'Gaines Inc',
        'http://sandoval-hooper.com/', 'Uzbekistan',
        'Multi-lateral scalable protocol', 1997.0,
        'Outsourcing / Offshoring', 9698.0],
       [11.0, 'AE61b8Ffebbc476', 'Kidd Group', 'http://www.lyons.com/',
        'Bouvet Island (Bouvetoya)', 'Proactive foreground paradigm',
        2001.0, 'Primary / Secondary Education', 7473.0],
       [12.0, 'eb3B7D06cCdD609', 'Crane-Clarke',
        'https://www.sandoval.com/', 'Denmark',
        'Front-line clear-thinking encryption', 2014.0,
        'Food / Beverages', 9011.0],
       [13.0, '8D0c29189C9798B', 'Keller, Campos and Black',
        'https://www.garner.info/', 'Liberia',
        'Ameliorated directional emulation', 2020.0,
        'Museums / Institutions', 2862.0],
       [14.0, 'D2c91cc03CA394c', 'Glover-Pope', 'http://www.silva.biz/',
        'United Arab Emirates',
        'Persevering contextually-based approach', 2013.0,
        'Medical Practice', 9079.0],
       [15.0, 'C8AC1eaf9C036F4', 'Pacheco-Spears',
        'https://aguilar.com/', 'Sweden', 'Secured logistical synergy',
        1984.0, 'Maritime', 769.0],
       [16.0, 'b5D10A14f7a8AfE', 'Hodge-Ayers',
        'http://www.archer-elliott.com/', 'Honduras',
        'Future-proofed radical implementation', 1990.0,
        'Facilities Services', 8508.0],
       [17.0, '68139b5C4De03B4', 'Bowers, Guerra and Krause',
        'http://www.carrillo-nicholson.com/', 'Uganda',
        'De-engineered transitional strategy', 1972.0,
        'Primary / Secondary Education', 6986.0],
       [18.0, '5c2EffEfdba2BdF', 'Mckenzie-Melton',
        'http://montoya-thompson.com/', 'Hong Kong',
        'Reverse-engineered heuristic alliance', 1998.0,
        'Investment Management / Hedge Fund / Private Equity', 4589.0],
       [19.0, 'ba179F19F7925f5', 'Branch-Mann', 'http://www.lozano.com/',
        'Botswana', 'Adaptive intangible frame', 1999.0,
        'Architecture / Planning', 7961.0],
       [20.0, 'c1Ce9B350BAc66b', 'Weiss and Sons',
        'https://barrett.com/', 'Korea',
        'Sharable optimal functionalities', 2011.0, 'Plastics', 5984.0],
       [21.0, '8de40AC4e6EaCa4', 'Velez, Payne and Coffey',
        'http://burton.com/', 'Luxembourg', 'Mandatory coherent synergy',
        1986.0, 'Wholesale', 5010.0],
       [22.0, 'Aad86a4F0385F2d', 'Harrell LLC',
        'http://www.frey-rosario.com/', 'Guadeloupe',
        'Reverse-engineered mission-critical moratorium', 2018.0,
        'Construction', 2185.0],
       [23.0, '22aC3FFd64fD703', 'Eaton, Reynolds and Vargas',
        'http://www.freeman.biz/', 'Monaco',
        'Self-enabling multi-tasking process improvement', 2014.0,
        'Luxury Goods / Jewelry', 8987.0],
       [24.0, '5Ec4C272bCf085c', 'Robbins-Cummings',
        'http://donaldson-wilkins.com/', 'Belgium',
        'Organic non-volatile hierarchy', 1991.0, 'Pharmaceuticals',
        5038.0],
       [25.0, '5fDBeA8BB91a000', 'Jenkins Inc', 'http://www.kirk.biz/',
        'South Africa', 'Front-line systematic help-desk', 2002.0,
        'Insurance', 1215.0],
       [26.0, 'dFfD6a6F9AC2d9C', 'Greene, Benjamin and Novak',
        'http://www.kent.net/', 'Romania',
        'Centralized leadingedge moratorium', 2012.0,
        'Museums / Institutions', 4941.0],
       [27.0, '4B217cC5a0674C5', 'Dickson, Richmond and Clay',
        'http://everett.com/', 'Czech Republic',
        'Team-oriented tangible complexity', 1980.0,
        'Real Estate / Mortgage', 3122.0],
       [28.0, '88b1f1cDcf59a37', 'Prince-David', 'http://thompson.com/',
        'Christmas Island', 'Virtual holistic methodology', 1970.0,
        'Banking / Mortgage', 1046.0],
       [29.0, 'f9F7bBCAEeC360F', 'Ayala LLC', 'http://www.zhang.com/',
        'Philippines', 'Open-source zero administration hierarchy',
        2021.0, 'Legal Services', 7664.0],
       [30.0, '7Cb3AeFcE4Ba31e', 'Rivas Group', 'https://hebert.org/',
        'Australia', 'Open-architected well-modulated capacity', 1998.0,
        'Logistics / Procurement', 4155.0],
       [31.0, 'ccBcC32adcbc530', 'Sloan, Mays and Whitehead',
        'http://lawson.com/', 'Chad',
        'Face-to-face high-level conglomeration', 1997.0,
        'Civil Engineering', 365.0],
       [32.0, 'f5afd686b3d05F5', 'Durham, Allen and Barnes',
        'http://chan-stafford.org/', 'Zimbabwe',
        'Synergistic web-enabled framework', 1993.0,
        'Mechanical or Industrial Engineering', 6135.0],
       [33.0, '38C6cfC5074Fa5e', 'Fritz-Franklin',
        'http://www.lambert.com/', 'Nepal',
        'Automated 4thgeneration website', 1972.0, 'Hospitality', 4516.0],
       [34.0, '5Cd7efccCcba38f', 'Burch-Ewing', 'http://cline.net/',
        'Taiwan', 'User-centric 4thgeneration system engine', 1981.0,
        'Venture Capital / VC', 7443.0],
       [35.0, '9E6Acb51e3F9d6F', 'Glass, Barrera and Turner',
        'https://dunlap.com/', 'Kyrgyz Republic',
        'Multi-channeled 3rdgeneration open system', 2020.0, 'Utilities',
        2610.0],
       [36.0, '4D4d7E18321eaeC', 'Pineda-Cox', 'http://aguilar.org/',
        'Bolivia', 'Fundamental asynchronous capability', 2010.0,
        'Human Resources / HR', 1312.0],
       [37.0, '485f5d06B938F2b', 'Baker, Mccann and Macdonald',
        'http://www.anderson-barker.com/', 'Kenya',
        'Cross-group user-facing focus group', 2013.0,
        'Legislative Office', 1638.0],
       [38.0, '19E3a5Bf6dBDc4F', 'Cuevas-Moss',
        'https://dodson-castaneda.net/', 'Guatemala',
        'Extended human-resource intranet', 1994.0, 'Music', 9995.0],
       [39.0, '6883A965c7b68F7', 'Hahn PLC', 'http://newman.com/',
        'Belarus', 'Organic logistical leverage', 2012.0,
        'Electrical / Electronic Manufacturing', 3715.0],
       [40.0, 'AC5B7AA74Aa4A2E', 'Valentine, Ferguson and Kramer',
        'http://stuart.net/', 'Jersey',
        'Centralized secondary time-frame', 1997.0,
        'Non - Profit / Volunteering', 3585.0],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan, nan, nan, nan]], dtype=object)

In [92]:
df.sort_index(axis=0, ascending = False)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4,5.0,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0

In [93]:
df[First Name][2] = df[Fname]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3571924785.py, line 1)

In [125]:
df.loc[2,['First Name']]='Nobody'

df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,First Name
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0,NaN
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0,NaN
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0,Nobody
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0,NaN
4,5.0,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
df.loc[0,['First Name']]='Ameya'

df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,First Name
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0,Ameya
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0,NaN
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0,Nobody
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0,NaN
4,5.0,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0,NaN
...,...,...,...,...,...,...,...,...,...,...
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
 df.loc[[2,3],["First Name", "City"]]

KeyError: "['City'] not in index"

In [ ]:
df.loc[:,["First Name", "City"]]

In [132]:
df.loc[[2,3],:]

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,First Name
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0,Nobody
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0,NaN

In [134]:
df.iloc[3,9]

nan

In [136]:
df.iloc[3,2]

'Holder-Sellers'

In [138]:
df.drop("Phone 1",axis = 1)

KeyError: "['Phone 1'] not found in axis"

In [ ]:
df.drop(2, axis = 0)

In [ ]:
df.drop(1, axis = 0)

In [ ]:
df.drop(0, axis=0)

In [ ]:
df

# Handling Missing Values
- dropna & fillna

In [ ]:
df = pd.read_csv(r"C:\Users\Vishnu\Desktop\RESTART\csv\customers-100.csv")
df

In [145]:
df.notnull()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,First Name
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...
87,False,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False

In [147]:
df.notna()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,First Name
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...
87,False,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False

In [149]:
df1 = pd.read_csv(r"C:\Users\Vishnu\Desktop\RESTART\csv\customers-100.csv")
df1

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,NaN,605.413.3198,vkemp@ferrell.com,10-07-2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [151]:
df1

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,NaN,605.413.3198,vkemp@ferrell.com,10-07-2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [153]:
df1.dropna()

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,12-04-2021,https://hammond-ramsey.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,17-02-2022,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [155]:
df1.dropna(axis =1)

    Sr. No.
0         1
1         2
2         3
3         4
4         5
..      ...
95       96
96       97
97       98
98       99
99      100

[100 rows x 1 columns]

In [157]:
df1.dropna(axis=0)

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,12-04-2021,https://hammond-ramsey.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,17-02-2022,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [159]:
df1.head(10)

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,12-04-2021,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,NaN,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,13-01-2020,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,08-11-2021,https://arias.com/

In [161]:
 df1.dropna(how = 'any')

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,12-04-2021,https://hammond-ramsey.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,17-02-2022,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [163]:
df1.head(10)

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,12-04-2021,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,NaN,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,13-01-2020,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,08-11-2021,https://arias.com/

In [165]:
df1.dropna(how = 'any')

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,12-04-2021,https://hammond-ramsey.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,17-02-2022,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [167]:
df1.dropna(how = "all")

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,NaN,605.413.3198,vkemp@ferrell.com,10-07-2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [169]:
df1.dropna(subset= ['Phone 1'])

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,17-02-2022,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [171]:
var.dropna(implace = True)

NameError: name 'var' is not defined

In [173]:
df1.dropna(thresh = 10)

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,25-02-2020,http://www.berger.net/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,NaN,605.413.3198,vkemp@ferrell.com,10-07-2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

# Fillna

In [176]:
df.fillna("0")

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,First Name
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0,Ameya
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0,0
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0,Nobody
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0,0
4,5.0,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0,0
...,...,...,...,...,...,...,...,...,...,...
87,0,0,0,0,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0
89,0,0,0,0,0,0,0,0,0,0
90,0,0,0,0,0,0,0,0,0,0
91,0,0,0,0,0,0,0,0,0,0

In [178]:
df1.fillna({"Phone 1" : "Java"})

,Sr. No.,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,NaN,NaN,NaN,NaN,NaN,NaN,Java,NaN,NaN,NaN,NaN
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,Java,605.413.3198,vkemp@ferrell.com,10-07-2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [ ]:
df1.fillna(method = "ffill")

In [ ]:
df1.fillna(method = "bfill")

In [ ]:
df1.fillna(method = "bfill",axis =0)

In [ ]:
df1

# replace & interpolate

In [ ]:
import pandas as pd

df2 = pd.read_csv("C:\\Users\\Vishnu\\Desktop\\RESTART\\csv\\organizations-100.csv")
df2

In [ ]:
df2.dropna(inplace= True)

In [ ]:
df2

In [ ]:
df2.replace(to_replace = "Plastics" , value = "Polymer")

In [ ]:
df2.replace([1,2,3,4,5,6,7,8,9,10],22)

In [ ]:
df2.replace("[A-Za-z]","Python",regex = True)

In [ ]:
df2.replace({"Name": "[A-Z]"},12,regex=True)

In [ ]:
df2.replace(2.0,method = "bfill")

In [ ]:
df2

In [ ]:
df2.replace("Plastics",pd.NA).fillna(method = 'ffill', limit = 5)

In [ ]:
df2.replace("China", pd.NA).fillna("India")

In [ ]:
df2

In [ ]:
df2.replace("China", method = "ffill", limit = 3, inplace = True)
df2

# Interpolate

In [ ]:
df = pd.read_csv(r"C:\Users\Vishnu\Desktop\RESTART\csv\customers-100.csv")
df

In [ ]:
df.interpolate()

In [ ]:
info(interpolate)

In [ ]:
help(interpolate)