In [33]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("C:\\Users\\Vishnu\\Desktop\\RESTART\\csv\\mobile_reviews.csv")
df

                                     Review  Rating
0           Great phone, good battery life!       5
1     Terrible service, will not buy again.       1
2      Loved the camera and screen quality.       4
3           Poor sound quality and slow OS.       2
4       Battery lasts all day, super happy!       5
5           Worst product, broke in a week.       1
6  Excellent customer support and features.       5
7                      Not worth the price.       2
8           Amazing performance for gaming.       4
9     Dirty on arrival, very disappointing.       1

In [36]:
print(df.head(3))

                                  Review  Rating
0        Great phone, good battery life!       5
1  Terrible service, will not buy again.       1
2   Loved the camera and screen quality.       4

In [37]:
'df shape:', df.shape, df.columns.tolist()

('df shape:', (10, 2), ['Review', 'Rating'])

In [38]:
# data preprocessing 
# check missing values
df.isnull()

   Review  Rating
0   False   False
1   False   False
2   False   False
3   False   False
4   False   False
5   False   False
6   False   False
7   False   False
8   False   False
9   False   False

In [39]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [40]:
# simple nlp sentiment from rating

conditions = [df['Rating']>= 4, df['Rating'] == 3, df['Rating']<=2]
choices = ['positive', 'neutral', 'negative']
df['Sentiment'] = np.select(conditions, choices, default='neutral')

import re
# clean text (remove punctuation, lower)

def clean_text(text):
    text = re.sub(r'[^a-zA-Z\s]','',text)
    text = text.lower()
    return text
df['cleaned_review'] = df['Review'].apply(clean_text)

df.head()

,Review,Rating,Sentiment,cleaned_review
0,"Great phone, good battery life!",5,positive,great phone good battery life
1,"Terrible service, will not buy again.",1,negative,terrible service will not buy again
2,Loved the camera and screen quality.,4,positive,loved the camera and screen quality
3,Poor sound quality and slow OS.,2,negative,poor sound quality and slow os
4,"Battery lasts all day, super happy!",5,positive,battery lasts all day super happy

In [41]:
df

,Review,Rating,Sentiment,cleaned_review
0,"Great phone, good battery life!",5,positive,great phone good battery life
1,"Terrible service, will not buy again.",1,negative,terrible service will not buy again
2,Loved the camera and screen quality.,4,positive,loved the camera and screen quality
3,Poor sound quality and slow OS.,2,negative,poor sound quality and slow os
4,"Battery lasts all day, super happy!",5,positive,battery lasts all day super happy
5,"Worst product, broke in a week.",1,negative,worst product broke in a week
6,Excellent customer support and features.,5,positive,excellent customer support and features
7,Not worth the price.,2,negative,not worth the price
8,Amazing performance for gaming.,4,positive,amazing performance for gaming
9,"Dirty on arrival, very disappointing.",1,negative,dirty on arrival very disappointing

In [42]:
# data processing with pyspark
from pyspark.sql import SparkSession

In [44]:
import os
os.environ["JAVA_HOME"] = r"C:\Program Files\Eclipse Adoptium\jdk-11.0.x"
os.environ["PATH"] = os.path.join(os.environ["JAVA_HOME"], "bin") + ";" + os.environ["PATH"]

In [48]:
spark = SparkSession.builder.master('local').appName('MobileReviews').getOrCreate()

KeyboardInterrupt:

In [50]:
# Prepare features for model (Bag-of-Words with sklearn)
from sklearn.feature_extraction.text import CountVectorizer
X = df['cleaned_review']
y = df['Sentiment']
vectorizer = CountVectorizer()
X_vec = vectorizer.fit_transform(X)

KeyError: 'cleaned_review'