In [ ]:
try:
    num1 = float(input("Enter a dividend: "))
    num2 = float(input("Enter a divisor: "))

    div = num1 / num2
    print(f"{num1} / {num2} = {div:.2f}")

except ValueError:
    print("Invalid Input! Enter valid numbers.")

except ZeroDivisionError:
    print("Division by zero is not allowed.")

Invalid Input! Enter valid numbers.

1. Python program to sort Python Dictionaries by Keys 
2. Python program to sort Python Dictionaries by Values 
3. Python program to find the sum of all items in a dictionary 
4. Python program to remove a key from a dictionary.

In [ ]:
di1 = {'id' : 123 , 'name' : 'Vishnu' , 'age' : 24}

sorted_dict = sorted(di1) # sorted by

sorted_dict

['age', 'id', 'name']

In [13]:
di2 = {'id' : 123 , 'salary' : 4000000 , 'age' : 24}
SortedByVal = sorted(di2.items(), key=lambda x:x[1])
SortedByVal

[('age', 24), ('id', 123), ('salary', 4000000)]

In [14]:
di2.keys()

dict_keys(['id', 'salary', 'age'])

In [15]:
di2.values()

dict_values([123, 4000000, 24])

In [16]:
di1.items()

dict_items([('id', 123), ('name', 'Vishnu'), ('age', 24)])

In [20]:
total_sum = sum(di2.values())
total_sum

4000147

In [21]:
di2 = {'id' : 123 , 'salary' : 4000000 , 'age' : 24}

del_key = di2.pop('salary')
del_key

4000000

In [22]:
di2

{'id': 123, 'age': 24}

In [23]:
di1.update(di2)

In [24]:
di1

{'id': 123, 'name': 'Vishnu', 'age': 24}

In [25]:
di2

{'id': 123, 'age': 24}

In [26]:
def grade_calculate(score):
    if score >= 90:
        return 'A'
    elif score >= 75:
        return 'B'
    elif score >= 65:
        return 'C'
    elif score >= 55:
        return 'D'
    else :
        return "Failed"
    

students_score = {
     'vishnu' : 93,
     'ameya' : 92,
     'prasad' : 84,
     'arpit' : 65,
     'vishwa' : 55,
     'pratik' : 50
}

students_grades = {}

for student, score in students_score.items():
    grade = grade_calculate(score)
    students_grades[student] = grade


for student , grade in students_grades.items():
    print(f"{student} : {grade}")

vishnu : A
ameya : A
prasad : B
arpit : C
vishwa : D
pratik : Failed

In [27]:
def LongestAnaramSubset(words):
    anagram_grp = {}

    for word in words:
        key = ''.join(sorted(word))

        if key in anagram_grp:
            anagram_grp[key].append(word)
            
        else:
            anagram_grp[key] = [word]

    max_size = max(len(group) for group in anagram_grp.values()) if anagram_grp else 0
        

    return max_size

words = ['listen', 'silent', 'enlist', 'hello', 'below', 'elbow', 'bowl']

print(f"largest anagram group size {LongestAnaramSubset(words)}")

largest anagram group size 3

In [31]:
my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

frequency = {}


for item in my_list:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

print("Frequencies in the list:")
for item, count in frequency.items():
    print(f"{item}: {count}")

Frequencies in the list:
apple: 3
banana: 2
orange: 1

In [34]:
li2 = ['a', 'a', 'b', 'a', 'b', 'c']

frequency = {}

for i in li2:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1


for i, count in frequency.items():
    print(f"{i} : {count}")

a : 3
b : 2
c : 1

In [ ]:
# Python program to convert a list of Tuples into Dictionary.
  
li3 = [("a",1), ('b',2),('c',3),('d',4),('d',5)]
di2 = dict(li3)
di2

{'a': 1, 'b': 2, 'c': 3, 'd': 5}

In [50]:
def ConvertToDict(): 

    n = int(input("enter how many tuple"))

    tuple_list = []

    for i in range(n):
        user_input = input(f"Enter tuple {i+1}").split()

        tup = (user_input[0], int(user_input[1]))
        tuple_list.append(tup)

    di1 = dict(tuple_list)
    return di1

di1 = ConvertToDict()

print(di1)

{'vishnu': 23, 'ganesh': 24}

In [52]:
ConvertToDict()

{'24': 24, '25': 26}

In [65]:
n = 3
tup_li = []
for i in range(n):
    input1 = input(F"{i + 1}").split()
    tup = (input1[0], input1[1])
    tup_li.append(tup)

    di3 = dict(tup_li)
    

print(tup_li)

[('vishnu', '2'), ('vishnu', "3'"), ('vishnu', '34')]

In [58]:
print(tup_li)
print(dict(tup_li))

[('vishnu', '23'), ('vishnu', '24')]
{'vishnu': '24'}